@import "./variable.css";

:root {
  --button-size: 3rem;
  --svg-size: 1.5rem;
}

.button {
  height: var(--button-size);
  width: var(--button-size);
  text-align: center;
  padding: 0.5rem;
  margin: 0 0.1rem;
  position: relative;

  border: 0;
  background-color: rgb(0, 0, 0, 0);

  & svg {
    height: var(--svg-size);
    width: var(--svg-size);
  }

  & input {
    bottom: 0;
    color: var(--secondary-color);
    cursor: pointer;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}
