@import "./variable.css";

:root {
  --button-size: 3rem;
  --svg-size: 1.5rem;
}

.root {
  display: flex;
  flex-directon: row;
  background-color: var(--main-color);
  color: var(--secondary-color);
  fill: var(--secondary-color);
  padding: 0.5rem;
}

.button {
  height: var(--button-size);
  width: var(--button-size);
  text-align: center;
  padding: 0.5rem;
  margin: 0 0.1rem;
  position: relative;
  cursor: pointer;

  border: 0;
  background-color: rgb(0, 0, 0, 0);
  color: var(--secondary-color);

  & svg {
    height: var(--svg-size);
    width: var(--svg-size);
  }

  & input {
    bottom: 0;
    color: var(--secondary-color);
    cursor: pointer;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    display: none;
  }
}

.button_text {
  width: 7rem;
}

.separator {
  width: 0.1rem;
  height: 1.7rem;
  margin: auto 0.5rem;
  background-color: var(--secondary-color);
}

.button_group {
  display: flex;
  margin-left: auto;
}

.update {
  text-decoration: none;
  color: #fff;

  display: inline-block;
  margin-top: 0.5rem;
  position: relative;
  cursor: pointer;
  height: 1rem;
  font-size: 0.9rem;
  font-family: "Roboto, sans-serif";
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: #73AD21;

  & :link,
  &: active,
  &: visited {
    color: #fff;
  }
}
