body {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 1.1rem "Open Sans", sans-serif;
	background:#fbfbfb;
}

.commonButton {
  background-color: transparent;
  border: 0;
  height: 2.3rem;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 6px 10px;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

button {
    padding: 0;
    background: none;
    border: 0;
    height: 30px;
    width: 30px;
    fill: black;
    opacity: 0.75;
    margin: 3px;
    cursor: pointer;
}
button:hover {
    opacity: 1;
}

.primary {
  color: rgb(0, 188, 212);
}

#add_dialog {
  width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      display: flex;
      flex-direction: column;
      flex: 1;
      & .add_dialog_content {
        flex: 1;
      }
      & > .add_dialog_choices {
        & button {
          padding: 5px 7px;
          float: right;
          width: auto;
          font-size: 1.2rem;
        }
      }
    }
}

/* DELETE PUBLICATION DIALOG */

#delete_publication_dialog {
    & > div {
      display: flex;
      flex-direction: column;
      width: 100%;

      & > div {
        align-self: flex-end;
        & button {
            margin-right: 1rem;
            font-size: 1.2rem;
        }
      }
    }
}

/* ADD OPDS FEED FORM DIALOG */

#opds_form_dialog {
  padding: 1.5rem 3rem;

  & > div {
    width: 100%;

    & > h2 {
      margin-bottom: 4rem;
    }
    & form {
      display: flex;
      flex-direction: column;
      width: 100%;

      & > div {
        margin-bottom: 1rem;

        & > label {
          margin-right: 0.5rem;
        }

        & > input {
          font-size: 1rem;
          padding-bottom: 5px;
          padding-left: 0.3rem;
          border: none;
          border-bottom: 1px solid grey;
          width: 40rem;
        }
      }

      & > button {
        margin-top: 1rem;
        font-size: 1.2rem;
        align-self: flex-end;
        width: fit-content;
      }
    }
  }
}
