@import "./focus.css";
@import "./variable.css";

:root {
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 1.1rem "Open Sans", sans-serif;
	background: var(--secondary-background-color);
  color: var(--main-text-color);
}

.commonButton {
  background-color: transparent;
  border: 0;
  height: 2.3rem;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 6px 10px;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

button {
    padding: 0;
    background: none;
    border: 0;
    height: 30px;
    width: 30px;
    fill: var(--button-text-color);
    margin: 3px;
    cursor: pointer;
    color: var(--button-text-color);

    &:hover {
      opacity: 1;
    }
}

svg {
  fill: var(--main-text-color);
}

.primary {
  color: rgb(0, 188, 212);
}

:global(#high_contrast) {
  box-shadow: none;

  & button {
    color: var(--button-text-color) !important;
    background-color: var(--button-background-color) !important;
    border-color: var(--button-text-color) !important;

    &:disabled {
      color: var(--disabled-color) !important;
      border-color: var(--disabled-color) !important;
    }

    &:hover {
      background-color: var(--button-background-color) !important;
    }
  }
  & svg {
    fill: var(--button-text-color) !important;
  }

  & a {
    &:disabled {
      color: var(--disabled-color) !important;
    }
  }

  & label:hover {
    background-color: inherit !important;
  }

  & input {
    color: var(--button-text-color) !important;
    background-color: var(--button-background-color) !important;
    border-color: var(--button-text-color) !important;
  }

  & *::selection {
    color: var(--hc-highlight-text) !important;
    background: var(--hc-highlight) !important;
  }
}
