@import "./focus.css";

:root {
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 1.1rem "Open Sans", sans-serif;
	background:#fbfbfb;
}

.commonButton {
  background-color: transparent;
  border: 0;
  height: 2.3rem;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 6px 10px;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

button {
    padding: 0;
    background: none;
    border: 0;
    height: 30px;
    width: 30px;
    fill: black;
    margin: 3px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
}

.primary {
  color: rgb(0, 188, 212);
}
