.allowUserSelect {
  user-select: text;
}

.dialog_left {
	width: 33%;
	height: fit-content;
    min-width: 9rem;

    & img {
        width: 100%;
        box-shadow: 0px 0px 20px 0px #cfcfcf;
    }
    & .liens {
        list-style: none;
        padding: 0;

        & li {
            font-size: 1.08rem;
            font-weight: 600;
            margin-top: 3px;
            margin-bottom: 3px;

            & svg {
                display: inline-block;
                vertical-align: top;
                width:20px;
                height:20px;
                margin-right:3px;
            }
        }
    }
    & button, & a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        font-size: 1.08rem;
        font-weight: 600;
        width: 100%;
        height: unset;
        opacity: 1;

        &.lire {
            display: block;
            text-align: center;
            padding: 8px 10px;
            font-size: 1.1rem;
            margin-top: 24px;
            border: 2px solid #c1c1c1;
            margin-bottom: 32px;
            font-weight: bold;
            border-radius: 2px;
            box-shadow: 0px 6px 5px -5px #cfcfcf;
        }
    }
}

:global(#high_contrast) {
    & .dialog_left {
        & img {
            box-shadow: none;
        }

        & .lire {
            box-shadow: none;
        }
    }
}

.dialog_right {
    height: fit-content;
	width:77%;
	padding:0 30px 0 54px;

    & .author {
        font-size: 1.3rem;
        margin-bottom: 30px;
    }
    & h2 {
        margin-bottom: 0px;
        font-weight: 600;
        font-size: 1.4rem;
    }
    & p {
        margin-top: 0px;
        margin-bottom: 3px;
        font-weight: 300;
        font-size: 1.1rem;
    }
    & span {
        font-weight: 600;
        font-size: 1.1rem;
    }
    & .description {
        font-size: 0.95rem;
    }
    & .tags {
        font-size: 1rem;

        & ul {
            display: inline-block;
            padding-left: 0;
            margin-top: 0;
        }

        & .tag_list {
            display: flex;
            & > div {
                display: inline-block;
                margin-left: 15px;
                flex: 1;
            }
            & > span {
                align-self: flex-start;
                margin-top: 8px;
                font-weight: 600;
            }

            & button {
                width: 20px;
                height: 20px;
                margin-left: 1rem;
                padding: 0;
                border: none;
                background-color: transparent;

                &.addTagButton {
                    font-size: 1rem;
                    font-weight: bold;
                    color: rgb(59, 59, 59);
                    height: auto;
                    width: auto;
                    padding: 0.5rem;
                    border: 1px solid rgb(59, 59, 59);
                    border-radius: 5px;
                }
            }
        }
        & li {
            display: inline-flex;
            align-items: center;
            background-color: #E7F1FB;
            padding: 2px 6px;
            font-size: 1.1rem;
            border-radius: 3px;
            border: 1px solid #67A3E0;
            color: #67A3E0;
            margin: 0.3rem 0;

            &:not(:first-child) {
                margin-left: 10px;
            }

            & svg {
                display: inline-block;
                width: 20px;
                height: 20px;
                vertical-align: top;
                fill: #67A3E0;
            }
        }
    }

    & h3 {
        font-weight: 600;
        margin-top: 30px;
    }

    & #flux_search {
        margin-bottom:0;
        margin-left: 0;
        height: auto;
        width: fit-content;
        display: flex;
        width: 100%;
    }
}

.tag_inputs {
	position: relative;
	max-width:300px;
    flex: 1;
	border-radius: 0;
	border:none;
	height:35px;
	background-color: transparent;
	color: var(--button-text-color);
	font-size: 0.9rem;
    border-bottom: 1px solid #c1c1c1;

    &::placeholder {
        font-size: 0.9rem;
        font-weight: 300;
        color:#c1c1c1;
    }
}

.image_wrapper {
    width: 100%;
    position: relative;

    &:before{
        content: "";
        display: block;
        padding-top: 140%;
    }

    & > div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        & img {
            max-height: 100%;
            max-width: 100%;
            margin: auto;
            display: block;
        }
    }
}

.descriptionWrapper {
    max-height: 10rem;
    overflow: hidden;
    position: relative;
    &.hideEnd {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
            height: 2rem;
        }
    }

    &.seeMore {
        max-height: unset;
        &::after {
            content: none;
        }
    }
}

.seeMoreButton {
    font-size: 1rem;
    width: auto;
    height: auto;
    float: right;
    margin-top: 1rem;
}

:global(#high_contrast) {
    & .tags {
        & li {
            background-color: var(--background-color);
            color: var(--main-text-color);
            border-color: var(--main-text-color);
            & button svg {
                fill: var(--main-text-color);
            }
        }
    }
}
