@use './partials/mixin' as mx;

.CSS_START_chatbot {
    display: none;
}

.chatbot_detail_element {
    width: 100%;
    flex: 2;

    &_summary {
        display: flex;
        align-items: center;
        gap: 5px;

        h3 {
            margin: 5px 0;
        }

        svg {
            width: 15px;
            fill: var(--color-primary);
        }
    }

    p {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: start;
    }
}

.no_description_text {
    flex: 2;

    button {
        font-size: 12px;
        color: var(--color-blue);
        text-decoration: underline;
        cursor: pointer;
        display: inline;
    }
}

.chatbot_systemPrompt {
    &_container {
        width: 80%;
        max-width: 600px;
        margin: 10px 0;

        textarea {
            width: 100%;
            min-height: 100px;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #ccc;
            resize: vertical;
        }
    }
}

.chatbot_open_title {
    width: 100%;
    height: 30px;
}

.chatbot_open_title button,
.chatbot_user_form .button_nav_primary {
    background-color: var(--color-light-blue);
    color: var(--color-blue);
    display: flex;
    justify-content: end;
    z-index: 2;
    transition: 200ms;
    height: fit-content;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: fit-content;
    align-items: center;
    padding: 5px 10px;
    gap: 5px !important;
    border-radius: 6px;
    border: 1px solid var(--color-blue);

    p {
        margin: 0;
    }

    svg {
        width: 15px;
        height: 15px;
        color: var(--color-blue);
        fill: var(--color-blue);
    }

    &:hover {
        background-color: var(--color-light-blue);
        color: var(--color-blue);

        svg {
            color: var(--color-blue);
        }

        button {
            color: var(--color-blue);
        }
    }
}

.chatbot_content {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    align-items: center;
    flex: 1;
}

.chatbot_user_form {
    &_input_container {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;
    }

    &_conversation_container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row;
    }

    .button_nav_primary {
        position: relative;
        margin-left: 5px;
        bottom: unset;
    }
}

.chatbot_title {
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 2;
    transition: 200ms;
    height: fit-content;
    padding: 0 10px;
    width: calc(100% - 30px);
    border-bottom: 1px solid var(--color-verylight-grey);

    h2 {
        margin: 0;
        padding-bottom: 2px;
    }

    button {
        color: var(--color-primary);
    }

    .react_aria_ComboBox {
        margin: 0 !important;
        padding: 0;
        padding-bottom: 10px !important;
        max-width: 350px;
        min-width: 180px;
        height: 30px;
        max-height: 30px;

        .my_combobox_container {
            padding-left: 10px !important;
            border: none !important;
            width: fit-content;

            button {
                font-size: 16px;
                min-width: 180px;
                color: var(--color-blue);
            }

            svg {
                background-color: unset !important;
                margin-left: 5px;
                color: var(--color-blue);
                fill: var(--color-blue);
            }
        }
    }

    svg {
        width: 25px;
        height: 25px;
        color: var(--color-primary);
        fill: var(--color-primary);
    }
}

.chatbot_container {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    position: relative;
    overflow: hidden;

    .chatbot_messages_container {
        min-height: calc(100% - 100px);
        max-height: 50dvh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;

        @include mx.scrollbar_styling;

        .chatbot_message {
            border-radius: 6px;
            width: fit-content;
            padding: 4px 6px;
            margin: 10px 2px;
            max-width: 90%;

            p {
                margin: 0;
                font-size: 14px;
            }

            &_speaker {
                font-weight: bold;
            }

            &_content {
                flex: 1;
                overflow: visible;
                overflow-y: hidden;
                padding: 5px;
            }
        }

        .chatbot_user_message {
            background-color: var(--color-extralight-grey);
            color: var(--color-primary);
            align-self: end;
            border-radius: 6px 6px 0;
            font-style: italic;
        }

        .chatbot_ai_message {
            border-radius: 6px;
            max-width: 100%;
            display: flex;
            align-items: start;

            p {
                text-align: start;
            }
        }
    }

    .chatbot_user_form,
    .chatbot_error,
    .chatbot_loading {
        background-color: var(--color-secondary);
        border-radius: 0 0 6px 6px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: end;
        justify-content: space-around;
        padding: 0 15px;

        .chatbot_user_input {
            border: 1px solid var(--color-light-grey);
            background-color: var(--color-secondary);
            margin: auto;
            width: 100%;
            padding: 0;
            padding-left: 5px;
            height: 30px;
            border-radius: 6px;

            &::placeholder {
                font-style: italic;
            }
        }

        &_button {
            background-color: var(--color-blue);
            color: var(--color-secondary);
            fill: var(--color-secondary);
            width: fit-content;
            height: 30px;
            border-radius: 6px;
            padding: 5px;

            svg {
                width: 15px;
            }

            p {
                margin: 0;
            }
        }
    }

    .chatbot_error,
    .chatbot_loading {
        justify-content: start;

        > button {
            margin-right: 10px;
        }
    }
}

.provider_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;

    &.openai,
    &.mistral {
        width: 20px;
        height: 20px;
    }
}

.modelPicker {
    display: flex;
    background-color: var(--color-button-hover);
    padding: 2px;
    gap: 1px;
    border: 1px solid var(--color-dark-grey);
    border-radius: 6px;

    &:has(input:focus) {
        @include mx.R2_MIXIN_FOCUS_OUTLINE;
    }

    div {
        input {
            position: absolute;
            z-index: -1;
        }

        label {
            z-index: 20;
            width: 25px;
            height: 25px;
            margin: 0;
            border: 1px solid var(--color-secondary);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    svg {
        color: #4d4d4d;
    }
}

.chatbot_image_controls {
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 105;
    border: 1px solid var(--color-light-grey);
    border-radius: 6px;
    transform: translate(50%, 50%);
    display: flex;
    opacity: 0;
    transition: 200ms;

    button {
        background-color: var(--color-secondary);
        padding: 10px;
        border-right: 1px solid var(--color-light-grey);
        filter: opacity(0.8);
        transition: 200ms;

        &:hover {
            filter: opacity(1);
        }

        &:last-child {
            border-right: unset;
        }
    }

    svg {
        width: 15px;
        height: 15px;
        fill: var(--color-primary);
    }
}

.chatbot_modal_content {
    display: flex;
    flex-direction: column;
    height: 70vh;
    flex: 2;
    width: 100%;
    justify-content: end;

    #aichat-scroller {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.image_container {
    min-height: inherit;
    position: relative;
    display: flex;
    gap: 10px;
    width: 100%;
    padding-left: 5px;

    .image_display_button {
        width: 25px;
        height: 25px;
        position: absolute;
        bottom: 5px;
        right: 5px;
        z-index: 10;
        fill: var(--color-blue);
        border-radius: 50%;
        padding: 5px 3px;
        margin-left: 5px;
    }

    > div:first-of-type > div:first-of-type {
        min-height: inherit;
        align-items: center;
    }

    &:has(> div:first-of-type > div:first-of-type:hover),
    &:has(.chatbot_image_controls:hover) {
        .chatbot_image_controls {
            opacity: 1;
        }
    }
}

.chatbot_description_button {
    background-color: var(--color-secondary);
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: 200ms;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;

    &:hover {
        background-color: var(--color-blue);
        color: var(--color-secondary);
    }
}

.CSS_END_chatbot {
    display: none;
  }
  