.main_navigation {
	position: fixed;
	@include main_navigation;

	& ul {
		padding-left:60px;
		padding-right:60px;
		margin: 0;
		& a {
			text-decoration: none;
			color:inherit;
			padding:1.125rem 0.3125rem;
		}

		& li {
			display: inline-block;
			padding-bottom:18px;
			padding-top:18px;
			font-weight: 600;
			color: var(--disabled-color);
			cursor: pointer;

			margin-right:60px;

			&.active {
				color:black;
				border-bottom:3px solid black;
				padding-bottom:15px;
			}
		}
	}
}

.preferences {
	position: relative;
	float:right;
}

/* ============ SECONDARY NAVIGATION ===============*/

.nav_secondary {
	position: fixed;
	left: 0;
	width:100%;
	height: 3.5rem;;
	padding-top:0;
	padding-bottom:10px;
	z-index:101;
	top: 57px;
	background-color: white;
	min-width: 600px;
	padding-left:60px;
	padding-right:60px;

	& form {
		display: inline-block;
		border-bottom: 1px solid #c1c1c1;
		margin-left:40px;
		height:auto;
	}

	& input[type=search] {
		position: relative;
		width:225px;
		border-radius: 0;
		border:none;
		height:35px;
		/* outline: inherit; */
		background-color: transparent;
		color:black;
		font-size: 0.9rem;
	}

	& input[type=search]::placeholder {
		font-size: 0.9rem;
		font-weight: 300;
		color:#c1c1c1;
	}
		
	& form button{
		position: relative;
		top:10px;
		height:38px;
		width:36px;
		background-color: transparent;
	}
}

.nav_secondary svg {
	display: inline-block;
	position: relative;
	top:15px;
	width:35px;
	height:35px;
	margin-left:-5px;
}

#search_img svg {
	right: -5px;
	top: 2px;
}
.nav_secondary svg:nth-child(2) {
	margin-left:20px;
}

.skip_link {
	position: absolute;
	left: -2000px;

	&:focus {
		left: unset;
		left: 0;
		width: fit-content;
		top: 0;
		opacity: 1;
		height: unset;
		z-index: 150;
		font-size: 1rem;
		padding: 1rem;
		color: white;
		background-color: #0366d6;
	}
}
