:root {
  --library-button-size: 3rem;
  --library-svg-size: 2.3rem;
}

.display_button {
  height: var(--library-button-size);
  width: var(--library-button-size);
  text-align: center;
  border: 0;
  padding: 0;
  background-color: rgb(0, 0, 0, 0);

  & svg {
    height: var(--library-svg-size);
    width: var(--library-svg-size);
    fill: grey;
  }
}

.display_button_disable {
  cursor: pointer;

  & svg {
    fill: black;
  }

  &:hover {
    background-color: silver;
  }
}

.book_card {
  display: inline-block;
  height: 400;
  margin: 5px 5px;
  text-align: center;
  width: 210;
  flex-grow: 0;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
}

.lcp_pass_form {
  display: flex;
  flex-direction: column;
}

.eye_button {
  fill: grey;
  display: inline-block;
  height: 48px;
  width: 2rem;
  text-align: center;
  border: 0;
  padding: 0;
  background-color: rgb(0, 0, 0, 0);

  & svg {
    vertical-align: middle;
    height: 1.5rem;
    width: 1.5rem;
  }
}
