/*
=-=-= loader.css
*/

.loader {
  text-align: center;

  svg {
    width: 5rem;
  }

  &_small {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 999;
  
    & svg {
      width: 2rem;
    }
  }

  &_search_picker {
      width: 15px;
      padding: 4px;
      margin-left: 0.4em;
      position: absolute;
      transform: translateY(50%);
      left: 0;
      top: 50%;
  }
}

.___DEBUG___LOADER_CSS {
  display: none;
}
