.loader {
  text-align: center;

  & svg {
    width: 5rem;
  }
}

.loader_small {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;

  & svg {
    width: 2rem;
  }
}

.loader_search_picker {
  width: 24px;
  align-self: center;
}
