#main {
    position: relative;
    margin-top: 120px;
    left: 0;
    height: auto;
    width: calc(100% - 120px);
    padding-left: 60px;
    padding-right: 60px;

    & h1 {
        display: block;
        position: relative;
        padding-top: 40px;
        padding-bottom: 35px;
        font-weight: 700;
        margin: 0;
        font-size: 1.3rem;
    }

    & section ul {
        padding: 0;
        margin: 0;
    }
}

.slider {
    margin: 0 -36px;
}

/* LIST MY BOOKS */


.block_book_list {
	display: block;
	margin: 0 -60px;
	min-height: 40px;
	padding: 0px 50px;
	min-width: 600px;
	font-size: 0.8rem;
    overflow: hidden;
    transition: height 0.5s;
}

.block_book_list button {
	float:left;
    display: flex;
    justify-content: center;
	border: none;
    background: none;
    cursor: pointer;
}

.block_book_list:nth-child(odd){
	background-color: #f3f3f3;
}

.block_book_list .icon_seemore {
	position: relative;
	float:left;
	display: inline-block;
	height: 24px;
    width: 24px;
	margin: 5px;
}

.block_book_list .book_title {
	display: inline-block;
	font-weight: 600;
}

.block_book_list .book_author {
	display: inline-block;
    margin-left: 10px;
}

.block_book_list .infos_sup {
	display: inline-block;
	width:15%;
	color:grey;
}

.list_book_title {
	display: inline-block;
	width: calc(70% - 50px);
}

.titre_selection {
	display: inline-block;
	position: relative;
	padding-top:40px;
	padding-bottom: 35px;
	font-weight: 700;
}

.icon_edit {
	position: relative;
	top:0;
	height:30px;
	width:20px;
	margin:0;
	margin-left:10px;
	display: inline-block;
	vertical-align: top;
	margin-top:40px;
}

.list_menu {
	height: 0px;
	transition: height 0.5s;
    margin-left: 10px;
    & a {
        border: 1px solid black;
        margin-right: 5px;
        padding: 3px;
        display: inline-block;
        cursor: pointer;
    }
}

.menu_open{
	height: 30px;
}