#main {
    position: relative;
    margin-top: 120px;
    left: 0;
    height: auto;
    width: calc(100% - 120px);
    padding-left: 60px;
    padding-right: 60px;

    & h1 {
        display: block;
        position: relative;
        padding-top: 40px;
        padding-bottom: 35px;
        font-weight: 700;
    }
}

.slider {
    margin: 0 -36px;
}