@import "./focus-mixin.css";

.anchor_link {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  opacity: 0.6;
  background: transparent;
  overflow: hidden;
  color: transparent;
  padding: 0;
  margin: 0;
}

.main {
  height: calc(100vh - 7.75rem);
  width: calc(100% - 120px);
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 7.75rem;
  overflow-y: auto;

  & .title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 40px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 3px solid #f1f1f1;

    & a {
      display: flex;
      align-items: center;
      color: black;
      text-decoration: none;
      border-radius: 2px;
      border: 1px solid black;
      font-size: 0.8rem;
      padding: 2px 8px 2px 8px;

      & svg {
        height: 15px;
        margin-left: 4px;
      }
    }

    & h2 {
      display: inline-block;
      position: relative;
      font-weight: 700;
      margin: 0;
      font-size: 1.5rem;
    }

    & .titlelink {
      display: inline-block;
      position: relative;
      font-size: 0.95rem;
      border: 1px solid silver;
    }
  }

  & section ul {
    padding: 0;
    margin: 0;
  }
}

.slider {
  margin: 0 -36px;
}

/* HEADER */

#catalog_header {
  width: calc(100% - 120px);

  & > *:first-child {
    margin-right: 1rem;
  }
}

#all_link_button {
  display: inline;
  border: 1px solid black;
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  margin-left: 1.5rem;
  text-align: center;
  color: black;
  text-decoration: none;
  font: 14px Arial, sans-serif;
  overflow: hidden;
  z-index: -1;

  & svg {
    top: 0;
    height: 15px;
    margin-left: 0;
  }
}

.addEpubButton {
  display: inline-flex;
  position: relative;
  left: 10px;
  top: 3px;
  margin-left: 1rem;

  & input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1;
    position: absolute;
  }

  & label {
    /* width: 35px;
		height: 35px; */
    padding: 7px 10px 3px 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;

    &:hover {
      opacity: 0.75;
    }

    & svg {
      top: 0;
      margin-left: 0;
      width: 15px;
      align-content: center;
      height: 17px;
    }
  }

  & input:focus + label {
    @mixin R2_MIXIN_FOCUS_OUTLINE;
  }
}

/* LIST MY BOOKS */

.block_book_list {
  display: block;
  margin: 0 -60px;
  min-height: 40px;
  padding: 0 50px;
  min-width: 600px;
  font-size: 0.95rem;
  overflow: hidden;
  transition: height 0.5s;
}

.block_book_list button {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.block_book_list:nth-child(odd) {
  background-color: #f3f3f3;
}

.block_book_list button svg {
  position: relative;
  float: left;
  height: 24px;
  width: 24px;
}

.block_book_list .book_title {
  display: inline-block;
  font-weight: 600;
  max-width: 75%;
}

.block_book_list .book_author {
  display: inline-block;
  margin-left: 10px;
}

.block_book_list .infos_sup {
  display: inline-block;
  width: 15%;
  color: grey;
}

.list_book_title {
  display: flex;
  width: calc(70% - 50px);
}

.titre_selection {
  display: inline-block;
  position: relative;
  padding-top: 40px;
  padding-bottom: 35px;
  font-weight: 700;
}

.icon_edit {
  position: relative;
  top: 0;
  height: 30px;
  width: 20px;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
}

.list_menu {
  height: 0;
  transition: height 0.5s;
  margin-left: 10px;

  & a,
  & span label,
  & button {
    border: 1px solid black;
    padding: 4px;
    display: flex;
    cursor: pointer;
    margin: 0.6rem 0.5rem 0 0;
    opacity: 1;
    width: fit-content;
    height: 2rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    align-items: center;
  }

  & span {
    & label {
      cursor: pointer;
    }

    & input {
      position: absolute;
      left: -2000px;
    }

    & input:focus + label {
      @mixin R2_MIXIN_FOCUS_OUTLINE;
    }
  }
}

.menu_open {
  height: 3.5rem;
  display: flex;

  & a {
    text-decoration: none;
    color: black;
  }
}

.publicationLine {
  display: flex;
  align-items: center;
  position: relative;

  & > .publicationLineLink {
    flex: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 0.3125rem;
    position: absolute;
    left: 3.125rem;
    right: 0;
  }

  & p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* ENTRY FORM */

.tag_add_button {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 35px;
  font-size: 1.3rem;
  width: auto;
  background: none;
  border: none;

  & svg {
    height: 25px;
    display: inline-block;
  }
}

#tag_search {
  border-bottom: 1px solid #c1c1c1;
  margin-left: 0;
  height: auto;
  margin-bottom: 50px;
  display: none;
}

#tag_inputs {
  position: relative;
  width: 300px;
  border-radius: 0;
  border: none;
  height: 35px;

  /* outline: inherit; */
  background-color: transparent;
  color: black;
  font-size: 0.9rem;
}

.tag_inputs {
  position: relative;
  width: 300px;
  border-radius: 0;
  border: none;
  height: 35px;

  /* outline: inherit; */
  background-color: transparent;
  color: black;
  font-size: 0.9rem;
}

#tag_search .launch {
  position: relative;
  width: 35px;
  vertical-align: top;
  background: none;
  border: none;
}

/* GRIDTAG LAYOUT */

#myTags {
  margin: 2em 1em 4em 0;
  font: 1.1rem "Open Sans", sans-serif;
  font-weight: bolder;
  background: #fbfbfb;
}

#sortMenu {
  display: inline-flex;
  cursor: pointer;
  color: #666;
  font: 1.1rem "Open Sans", sans-serif;
  position: relative;
  top: -2px;
  border: 1px;
  border-radius: 5px;

  & svg {
    height: 10px;
    margin-left: 0.5em;
  }
}

#sortType {
  height: 90px;
  width: 90px;
  display: flex;
  position: relative;
  float: right;
  flex-direction: column;
  background-color: white;
  font-size: 0.9rem;
  box-shadow: 0 0 10px 0 #cfcfcf;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#sortType button {
  text-decoration: none;
  color: black;
  flex: 1;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#sortType button:not(:last-child) {
  border-bottom: 1px solid #e5e3e3;
}

#sortType button:hover {
  background-color: #cecece;
}

#value {
  font-size: 0.9rem;
  align-items: center;
  position: relative;
  top: 9px;
  list-style: none;
}

#sortMenu button {
  width: unset;
  height: 2em;
  font-size: 0.9rem;
  padding: 0 0.3125rem;
}

#content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 2em;
  grid-auto-flow: row;
  max-width: 2000px;
  margin-top: 1em;
  align-content: center;
}

#content > * {
  background: #ebebeb;
  color: #595959;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 7px;
  text-align: center;
  border-radius: 3px;
  border: 2px solid #a6a6a6;
}

#count {
  text-align: center;
  color: white;
  width: 17px;
  height: 17px;
  background: #595959;
  border-radius: 31px;
  position: relative;
  float: right;
  top: -15px;
  right: -1.3em;
}

.noPublicationHelp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px #5c5c5c dashed;
  min-height: 17rem;
  max-width: 43rem;
  margin: 2rem auto;
  box-sizing: border-box;
  color: #5c5c5c;

  & p {
    font-size: 1.1rem;
  }

  & p:last-child {
    font-size: 1rem;
  }
}

/* ABOUT THORIUM BUTTON */

#aboutThoriumButton {
  margin-bottom: 2rem;

  & p {
    font-weight: bold;
  }

  & button {
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    width: auto;
    height: auto;
    padding: 10px;
  }
}
