/* FORM */

.publicationgrid {

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 50px;
}

.entrygroups {
  & span {
    padding-right: 10%;
  }
}
.entrygroups {
  & a {
    text-decoration: none;
    color: inherit;
  }
}

.opds_form {
    & button {
        font-size: 1rem;
        border: 1px solid black;
        border-radius: 0.3125rem;
        color: black;
        width: auto;
        height: auto;
        padding: 0.625rem;
        display: flex;
        align-items: center;

        & svg {
            width: 0.9375rem;
            height: 0.9375rem;
            margin-right: 1rem;
        }
    }
}

/* LIST */

.opds_list {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    height: auto;
    justify-content: space-between;
    margin-top: 3rem;
    & ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        & li {
            height: 301px;
            width: 301px;
            margin-bottom:30px;
            position: relative;
            list-style: none;
            & > a {
                height: 100%;
                width: 100%;
                border-radius: 33px;
                background: linear-gradient(160.03deg, #6FA4FC 0%, #4083FD 100%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-decoration: none;
                & p {
                    text-align: center;
                    color:white;
                    font-size: 1.5rem;
                    font-weight: bold;
                    overflow-wrap: break-word;
                    padding: 1rem;
                }
            }
            & button {
                position: absolute;
                top: 1rem;
                right: 1rem;
                fill: white;
            }
        }

        & > div {
            width: 301px;
        }
    }
}

/* ELEMENT */

.opds_entry_ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 50px;
    list-style-type: none;
    grid-column-gap: 50px;

    & .flux_infos {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-decoration: none;
        color: black;
        & .flux_title {
            font-weight: 600;
        }
        & span {
            display: inline-block;
        }
        & .flux_subtitle {
            font-size: 0.8rem;
            margin-left:10px;
            padding-right: 10px;
        }
        & .flux_image {
            flex: 1;
            max-width: 80%;
            height: fit-content;
            display: flex;
            align-items: center;
            & svg {
                width:15px;
            }
        }
    }
}

#flux_list {
  width: calc(100% + 120px);
  margin-left:-60px;
  border-top:1px solid #c1c1c1;

    & li {
        padding:20px 60px 20px 60px;
        border-bottom: 1px solid #c1c1c1;

        & .flux_infos {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            text-decoration: none;
            color: black;
            & .flux_title {
                font-weight: 600;
            }
            & span {
                display: inline-block;
            }
            & .flux_subtitle {
                font-size: 0.8rem;
                margin-left:10px;
                padding-right: 10px;
            }
            & .flux_image {
                flex: 1;
                max-width: 80%;
                height: fit-content;
                display: flex;
                align-items: center;
                & svg {
                    width:15px;
                }
            }
        }
    }

    & .flux_slider {
        margin: 20px -36px 0 -36px;
    }
}

/* ENTRY DETAILS */

.entry_details {
    border-bottom: 2px solid rgb(219, 219, 219);;
    margin: 0 -60px;
    padding: 30px 60px;
    margin-bottom: 20px;
}

.opdsBrowse {
    overflow-y: hidden;
    padding: 0;
    width: auto;
    display: flex;
    flex-direction: column;

    & .opdsBrowseBreadcrumb {
        padding: 30px 60px;
        flex-wrap: wrap;
        & > div {
            flex: 1;
        }
    }
    & .opdsBrowseContent {
        padding: 0 60px;
        overflow-y: auto;
        flex: 1;
    }
}

.opds_page_navigation {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        height: auto;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 0.9375rem 1.25rem;
        border: 1px black solid;
        border-radius: 5px;
        background-color: #EDEDED;

        &:first-child {
            & svg {
                margin-right: 1rem;
            }
        }

        &:last-child {
            & svg {
                margin-left: 1rem;
            }
        }

        &:not(:last-child) {
            margin-right: 1rem;
        }

        & svg {
            height: 1.1rem;
            fill: black;
        }
    }

    & div {
        width: 10rem;
    }

    & span {
        width: 5rem;
        font-size: 1.2rem;
    }

    & .page_count {
        position: absolute;
        bottom: 1.2rem;
        right: 2rem;
    }
}
