/*
=-=-= publicationView.css
*/

.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .card_substitute {
    width: 175px;
    height: 0;
    margin-bottom: 0;
  }

  & > * {
    &:not(:last-child) {
      margin-right: 10px;
    }

    margin-bottom: 1.5rem;
  }
}

.___DEBUG___PUBLICATION_VIEW_CSS {
  display: none;
}
