.CSS_START_publicationInfos {
    display: none;
}

.publicationInfo_container {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-direction: row;
    align-items: flex-start;

    button {
        font-weight: 400;
        transition: 200ms linear;
    }

    svg {
        width: 14px;
        height: 14px;
    }

    .corner svg {
        width: 20px;
        height: 20px;
        top: -35px;
        right: -5px;
    }

    section {
        margin-bottom: 20px;

        .form_group svg {
            position: absolute;
            left: 10px;
            width: 16px;
            top: 8px;
        }
    }

    .button_primary {
        border: 1px solid var(--color-blue);
        height: 25px;
        border-radius: 4px;
        padding: 4px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-blue);
        color: var(--color-secondary);

        svg {
            fill: var(--color-secondary);
        }
    }

    .button_secondary, .button_transparency {
        border: 1px solid var(--color-blue);
        height: 25px;
        border-radius: 4px;
        padding: 2px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-light-blue);
        color: var(--color-blue);

        svg {
            fill: var(--color--button-primary);
        }

        &:hover {
            background-color: var(--color-secondary);
            color: var(--color-blue);
        }
    }
}

.publicationInfo_leftSide {
    flex: 1;
    max-width: 35%;
    text-align: center;

    &_coverWrapper {
        width: 100%;
        min-height: 350px;
        position: relative;
        display: flex;
        align-items: center;
        background-color: var(--color-extralight-grey);
        border: 1px solid var(--color-light-grey);
        border-radius: 6px;
        
          .no_img_wrapper {
            height: 350px;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
            padding: 5%;
            border: 1px solid silver;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
        
            & .no_img {
              border: 1px black solid;
              width: 100%;
              height: 100%;
              line-height: inital;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
        
              & p {
                word-break: break-all;
                display: -webkit-inline-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-align: center;
                margin: 10px 5%;
                color: var(--color-primary);
        
                &:not(:first-child) {
                  font-size: 90%;
                }
              }
            }
        }
    }

    &_buttonsWrapper {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 20px 0;

        > div {
            width: 100%;
        }

        button {
            flex: 1 0 25%; 
            margin: 5px 0;
        }
    }
}

.publicationInfo {
    &_rightSide {
        padding: 0 20px;
        flex: 2;

        .book_title {
            font-size: 24px;
        }

        h2 {
            font-style: italic;
            font-weight: 700;
        }

        .authors {
            font-size: 18px;
        }
    }

    &_heading h4 {
        position: relative;
        font-weight: 600;
        margin: 5px 0 10px;
    }

    &_description_bloc {
        position: relative;

        &_seeMore {
            color: var(--color-blue);
            text-decoration: underline;
            display: flex;
            width: 100px;
            align-items: center;
            justify-content: center;

            svg {
                width: 20px;
                margin: auto;
            }
        }
    }

    &_moreInfo_content, &_lcpInfo_content {
        div {
            margin-bottom: 5px;

            strong {
                font-weight: 600;
            }
        }
    }
}

.tag_list {
    display: flex;
    align-items: baseline;
    gap: 10px;

    h4 {
        min-width: fit-content;
        margin-top: 0;
    }
}

.publicationInfo_tagContainer {
    form {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;

        button {
            width: fit-content;
            min-width: 50px;

            svg {
                fill: white;
            }
        }
    }

    .my_combobox_container {
        width: unset;
    }
}

.publicationInfo_progressionContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
    }

    details {
        summary {
            color: var(--color-blue);
            background-color: var(--color-light-blue);
            display: flex;
            align-items: center;
            gap: 10px;

            :hover {
                cursor: pointer;
            }

            svg {
                width: 12px;
                height: 12px;
                margin-left: 2px;
            }

            &:first-of-type {
                list-style-type: none;
            }
        }

        ul {
            list-style-type: none;

            li a  {
            color: var(--color-blue);
            }
        }
    }
}

.accessibility_infos {
    line-height: 1.5;

    &_left {
        margin-block-start: 0;
        flex: 1;
        padding-left: 20px;
        list-style-type: "- ";
    }

    &_right {
        flex: 1;

        ul {
            list-style-type: none;
            margin-block-start: 0;
            padding-left: 0;
        }

        details {
           color: var(--color-primary);

           summary {
            color: var(--color-blue);
            cursor: pointer;
           }
        }
    }
}

.CSS_END_publicationInfos {
    display: none;
}
