@import "./focus-mixin.css";
@import "./focus.css";
@import "./variable.css";

:root {
  user-select: none;

  --sideButtonColor: rgb(130, 130, 130, 0.5);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 1.1rem "Open Sans", sans-serif;
	background:#fbfbfb;
}

button {
    background: none;
    border: 0;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
}

.root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  & input[type=range] {
    position: relative;
    -webkit-appearance: none;
    width: 50%;
    height: 18px;
    background-color: transparent;
    cursor: pointer;
  }
  & input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background: #C0C0C0;
  }
  & input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background: #6B6B6B;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  & input[type=range]:focus::-webkit-slider-runnable-track {
    background: #C0C0C0;
  }

  & .slider_marker {
    position: relative;
    vertical-align: middle;
    color:#6B6B6B;
  }
}

.content_root {
  height: 100%;
  display: flex;
  align-items: stretch;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

/* ========== READER ==========*/

.publication_viewport {
    overflow: hidden;
}

.publication_viewport_container {
  position: relative;
  flex: 1;
}

.side_button {
  z-index: 3;
  display: inline-block;
  width: 50px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  /* outline: none; */
  fill: var(--sideButtonColor);

  &:hover {
    background-color: var(--sideButtonColor);
    fill: var(--secondary-color);
  }

  /* &:focus {
    outline: 1pt dashed #999;
  } */
}

.side_button_svg {
  width: 45px;
  margin: auto;
}

.left_button {
  transform: rotate(180deg);
}

.reader {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 2;
}

/* ======= Settings ======= */

.settings_content {
  display: flex;
  flex-direction: column;

  & label {
    margin: 1rem;
  }

  & div {
    display: flex;
    text-align: center;

    & label {
      flex-grow: 1;
      height: 1.5rem;
    }
  }
}

.settings_action {
  background-color: rgb(0, 0, 0, 0);
  border: 0;
  font-size: 1rem;
  height: 2.5rem;
  cursor: pointer;
}

.settings_icones {
  width: 1.5rem;
  height: 1.5rem;
}

.reader_settings_value {
  width: 5rem;
  display: inline-block;
}

/* ======= CONTENT TABLE ======*/

.content_table {
  width: 0;

  border-right: 1px var(--main-color) solid;
  background-color: #e0e0e0;
  overflow: auto;
}

.content_table_open {
  animation-duration: 500ms;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.content_table ul {
  list-style-type: none;
  padding: 1rem;
  margin: 0;

  & li {
    padding-top: 0.5rem;

    & a {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.landmarks_tabs {
  background-color: black;
}

.landmarks_tabs_button {
  padding: 8px 16px;
  width: auto;
  border: none;
  display: inline-block;
  background-color: transparent;
  color: white;
  cursor: pointer;

  &:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.600);
  }
}

@keyframes slidein {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

/* ========== Navigation ==========*/

.main_navigation {
	z-index:102;
	width:100%;
	top:0;
	padding-top:0;
	padding-bottom:0;
	height:auto;
	background-color: white;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
	min-width: 600px;

  & > ul, & ul.menu_option {
    line-height: 0.9rem;
    padding: 0;
    margin: 0;

    & .menu_option {
      float: right;

      & > li {
        border-left: 1px solid #c1c1c1;
        border-right: none;
      }
    }

    & > li {
      display: inline-block;
      height:100%;
      width:60px;
      font-weight: 600;
      color:#c1c1c1;
      border-right:1px solid #c1c1c1;

      & > .menu_button {
        width: inherit;
        height: 60px;
        color:inherit;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: inline-flex;
        align-items: center;

        & svg {
          width:30px;
          padding:0;
          margin: 0 auto;
          height:30px;
        }
      }
      & > .active {
        color:black;
        border-bottom:3px solid black;
        padding-bottom:15px;
      }

      & .bookmarkButton {
        position: absolute;
        left: -2000px;

        &:checked + label.menu_button {
          background-color: rgb(193, 193, 193);
        }

        &:focus + label.menu_button {
          @mixin R2_MIXIN_FOCUS_OUTLINE;
        }
      }
    }

    & .right {
      float:right;
      border-left:1px solid #c1c1c1;
      border-right:none;
    }

    & .blue {
      background-color: #2B5366;
    }
  }
}

/* ========== MENU ========== */

.menu_background {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.55;
  z-index: 10;
}

.chapters_settings, .read_settings{
	width: 21rem;
	border-left: 1px solid #e5e5e5;
	position: fixed;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	top:60px;
	right:0;
	height: calc(100vh - 60px);
	background-color: white;
	z-index:100;
  font-family: Arial;

  & > div > ul {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      padding: 0;
      border-bottom: 1px solid #e5e5e5;
      font-weight: 600;
      background-color: white;
      cursor: pointer;
      width: 100%;

      & > button {
        padding: 20px;
        border-bottom: 1px solid #e5e5e5;
        font-size: 1.1rem;
        font-weight: 600;
        background-color: white;
        cursor: pointer;
        display: flex;
        border: none;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        &:disabled {
          color: grey;
          cursor: auto;
          & svg.menu_section_svg {
            display: none;
          }
        }
      }
      & svg.menu_section_svg {
        width:20px;
        padding:0;
        margin: 0;
        height:30px;
      }
    }
  }
}

.tab_content {
	position: relative;
	background-color: #F8F8F8;
  overflow: hidden;
  transition: max-height 0.5s;

	& > div {
		position: relative;
		text-align: center;
		height:auto;
		padding: 20px;
		border-bottom: 1px solid #e5e5e5;

		& label, & .subheading {
			display: block;
			font-weight: 600;
			text-align: center;
		}
	}
}

#insidebook_search {
	display: inline-block;
	border-bottom: 1px solid #c1c1c1;
	height:auto;
	margin-top:10px;
	width:70%;
	margin-left:15%;
}

#book_search {
  position: relative;
  border-radius: 0;
  border:none;
  height:35px;
  /* outline: inherit; */
  color:black;
  font-size: 1rem;
  width:calc(100% - 35px);
}

#book_search::placeholder {
  font-size: 1rem;
  font-weight: 300;
  color:#c1c1c1;
  overflow: visible;
}

#insidebook_search #launch{
	position: relative;
	width:35px;
	float:right;
	vertical-align: top;
}

.go_to_page {
	display: inline-block;
	position: relative;
	left:15%;
	width:70%;
	font-size: 1rem;
	margin-top: 10px;
	margin-bottom: 30px;
}

.go_to_page input[type=number] {
	background-color: transparent;
	border:none;
	border-bottom: 1px solid #c1c1c1;
	border-radius: 0;
	width:50px;
	padding:10px;
	font-size: 1rem;
	text-align: center;
}

.go_to_page input[type=number]::placeholder {
	overflow: visible;
	color:#c1c1c1;
}

.chapters_content {
  padding: 0;
	height:auto;
  list-style: none;

  & .chapters_content {
	  padding: 0 0 0 20px;
  }

  & .subheading:not(.inert) {
    &:hover {
      background-color: #d8d8d8 !important;
    }
  }

  & .line.active:not(.inert) {
    &:hover {
      color: #808080 !important;
    }
    /* &:focus {
      outline: -webkit-focus-ring-color auto 5px;
    } */
  }
}

#chapter_settings_list {
  & .subheading {
    background-color: #EDEDED;
    padding:20px;
    margin-bottom: 10px;
  }
  & .subheading:not(.inert) {
    cursor: pointer;
  }
  & .line.active {
    color:black;
  }
  & .bookmarks_line {
    width:calc(100% - 40px);
    margin-left:20px;
    position: relative;
    text-align: left;
    padding:1.25rem 0.3125rem;
    font-size: 1rem;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    position: relative;

    & form {
      position: absolute;
      z-index: 100;
      height: 21px;
      width: 155px;
      left: 2.2rem;
      & input {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
    }

    & .bookmark_infos {
      flex: 1;
      display: flex;

      & .bookmark_name {
        margin: 0;
        height: 21px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 10rem;
      }
    }
  }
}

.chapters_content .line {
	text-align: left;
	font-size: 0.9rem;
  display: block;
	font-weight: bold;
	color: #c1c1c1;
	padding: 0.625rem 0.3125rem;
	border-bottom: 1px solid #e5e5e5;
}
.chapters_content .line:not(.inert) {
	cursor: pointer;
}

.chapters_content .line:last-child {
	border-bottom: 0;
}

p.chapters_description {
	font-weight: 500;
}

.bookmarks_line:last-child {
	border-bottom: 0;
}

.bookmarks_line {
	width:calc(100% - 40px);
	margin-left:20px;
	position: relative;
	text-align: left;
	padding:20px 0 20px 0;
	font-size: 1rem;
	border-bottom: 1px solid #e5e5e5;

  & > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;

    & svg {
      width: 24px;
    }
  }

  & img {
    width:30px;
    height:30px;
    display: inline-block;
    vertical-align: top;
  }

  & .chapter_marker {
    vertical-align: top;
    position: relative;
    display: inline-block;
    flex:1;
    font-size: 0.9rem;
    margin-right: 0.5rem;
  }

  & span {
    display: inline-block;
    vertical-align: top;
    margin-top:5px;
  }
}

.chapter_marker .gauge {
	width:100%;
	margin-top:2px;
	height:4px;
	background-color: #ECECEC;

  & .fill {
    height:100%;
    position: relative;
    width:63%;
    background-color: #3B3B3B;
  }
}

/* ============= SETTINGS MENU =================== */

#themes_list {
	width: 30%;
	list-style-type: none;
	font-size: 0.8rem;
  min-width: 300px;
  margin-top: 2px;
	margin-bottom: 30px;

	& label {
		display: inline-flex;
		margin: 0 3px 3px 3px;
		padding: 5px 10px 5px 2rem;
		font-size: 1.25em;
		height: 1.2rem;
		width: 14rem;
		background: #e5e5e5;
		cursor: pointer;

		& svg {
			height: 1rem;
			width: 1rem;
			margin-left: -1.3rem;
			margin-right: 0.3rem;
		}
	}

	& input {
		position: absolute;
		left: -2000px;

		&:focus + label {
			@mixin R2_MIXIN_FOCUS_OUTLINE;
		}
	}
}

#read_settings_list > li, #chapter_settings_list > li{
	border-bottom: 1px solid #e5e5e5;
	font-size: 1.1rem;
	font-weight: 600;
	background-color: white;
	cursor: auto;

  & > span {
    flex: 1;
  }
  & > svg {
    height: 20px;
    fill: rgb(59, 59, 59);
  }

  &.active > button {
    & svg {
      transform: rotate(90deg);
    }
  }
}

#read_settings_list .tab_content > div {
	padding: 0;
  border-bottom: none;
}

.read_settings {
  width: 21rem;
  z-index: 20;
	border-left: 1px solid #e5e5e5;
	position: fixed;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	top:60px;
	right:0;
	height: calc(100vh - 60px);
	background-color: white;
  color: rgb(59, 59, 59);
}

.center_in_tab {
  position: relative;
	text-align: center;
  display: flex;
	font-size: 0.9rem;
  justify-content: center;
  align-items: center;


  & input {
    height: 20px;
    width: 18px;

  }

  & svg {
    width: 63px;
    height: 70px;
    display: block;
    margin: auto;
    fill: #757575;
    padding-bottom: 5px;
    padding-right: 5px;
  }

  & button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    white-space: nowrap;
    color: grey;
  }

  & .active {
    color: black;

    & svg {
      fill: black;
    }
  }

  & label {
    cursor: pointer;
    padding: 10px 10px 10px;

    &:focus + input {
      @mixin R2_MIXIN_FOCUS_OUTLINE;
    }
  }

  & .disable {
    fill: var(--disabled-color);
    color: var(--disabled-color);
    cursor: default;
  }

  & .notUsed {
    fill: var(--disabled-color);
    color: var(--disabled-color);
  }

  & li {
    list-style-type: none;
  }
}

.focus_element {
  display: inline-block;
  text-align: center;

  & input[type="radio"] {
    position: absolute;
    height: 15px;
    width: 20px;
    left: -20000px;

    &:focus + label {
      @mixin R2_MIXIN_FOCUS_OUTLINE;
    }
  }

  & label {
    display: inline-flex;
    margin: 0 5px 0 5px;
  }
}

#option_colonne, #option_colonne1, #option_colonne2 {
	display: inline-block;
	text-align: center;
  margin: 0 10px 20px 10px;
	line-height: 2rem;
	vertical-align: baseline;
  height: 70px;
  width: 63px;
}

#option_gauche, #option_justif,
#scroll_option, #page_option {
  display: inline-block;
  text-align: center;
  margin: 0 10px 20px 10px;
  line-height: 2rem;
  vertical-align: baseline;
  height: 15px;
  width: 20px;
}



.separateur {
	margin-top:20px;
	margin-bottom:20px;
	border-bottom:1px solid #c1c1c1;
	width:100%;
	height:1px;
}

.lire_creertheme {
	position: relative;
	width:auto;
	padding:5px 20px 5px 20px;
	font-size: 1rem;
	background-color: white;
	border:1px solid #c1c1c1;
  text-decoration: none;
  color: black;
}

input[type=number] {
	padding:10px;
	margin-top:10px;
	background-color: white;
	/* outline:none; */
	border:1px solid #c1c1c1;
	border-radius: 5px;
	text-align: center;
}

input[type=radio] + label {
	display: inline-block;
}

#read_settings_list .line_tab_content {
    position: relative;
    text-align: center;
    height: auto;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.line_tab_content .subheading {
	display: block;
	font-size: 0.9rem;
	font-weight: 600;
	text-align: left;
  margin-bottom: 1rem;
  color: rgb(59, 59, 59);
}

.line_tab_content select {
	background-color: white;
	border-radius: none;
	width:40%;
	text-align: center;
	text-align-last: center;
	font-size: 0.8rem;
	height:30px;
}

.out_of_screen {
	float:left;
	width:0px;
	height:3px;
	overflow: hidden;
}

/* ========= FOOTER ========= */

.reader_footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    & .arrows {
      float: right;
      margin-top: 1rem;
      margin-right: 2rem;

      & button {
        border: 0;
        cursor: pointer;
        padding: 0;
        background-color: transparent;
        width: 40px;
        height: 40px;
      }

      & svg {
        fill: #C1C1C1;;
      }
    }

    & .track_reading_wrapper {
          background-color: white;
          padding: 1rem 8rem 1rem 5rem;
          bottom: 0;
          margin-top: 2rem;
    }
}

#track_reading {
	position: relative;
	width:100%;
	height:10px;
	background-color: #c1c1c1;
}

#track_reading + span {
	font-style: italic;
	font-size: 0.8rem;
	padding-bottom: 10px;
	cursor: pointer;
}

#current {
	position: relative;
}

#chapters_markers {
	display: flex;
	position: absolute;
	width:100%;
	height:15px;
	margin-top:-2.5px;
	top:0;

  &.more_information > span {
    border-right: 1px solid #929292;
  }

  & > span {
    flex-grow: 1;
    padding: 2.5px 0;

    & > span {
      display: block;
      background-color: grey;
      width: 100%;
      height: 100%;
    }

    &:last-child{
      border-right:none;
    }
  }
}

#arrow_box {
	position: absolute;
  width: 190px;
	height: auto;
	padding: 10px 0 5px 0;
	margin: -76px 0 0 0;
	left:50%;
	background: white;
	font-size: 16px;
	color: black;
	text-align: center;
	-webkit-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.12);
	box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.12);
	transform: translateX(-50%) translateY(0%);
	-webkit-transform: translateX(-50%) translateY(0%);

  & .after {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: solid rgba(0, 0, 0, 0);
    top: 59px;
    border-color: rgba(0, 0, 0, 0);
    border-width: 9px;
    border-top-color: white;
    left: 50%;
    margin-left: -9px;
  }

  & span {
    display: block;
    margin:0 20px 5px 20px;
    border-bottom:1px solid #c1c1c1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & p {
    margin:10px 0 0 0;
    font-size: 0.8rem;
    padding:0 20px 0px 20px;
  }
}

.skip_link {
	position: absolute;
	left: -2000px;

	&:focus {
		left: unset;
		left: 0;
		width: fit-content;
		top: 0;
		opacity: 1;
		height: unset;
		z-index: 150;
		font-size: 1rem;
		padding: 1rem;
		color: white;
		background-color: #0366d6;
  }
}

.goToPage {
  text-align: center;
  & .title {
    color: black;
    font-size: 1.1rem;
  }
  & .goToErrorMessage {
    color: red;
  }
  & form {
    display: flex;
    align-items: center;
    justify-content: center;

    & button {
      border: 1px solid black;
      border-radius: 5px;
      background: none;
      margin: 1rem;
      padding: 0.5rem;
    }

    & input {
      margin: 0;
    }
  }
}
