@import "./focus-mixin.css";

.main {
    & ul {
        padding: 0;
        margin: 0;
    }
}

.section_title {
  display: block;
  position: relative;
  padding-top:40px;
  padding-bottom: 35px;
  font-weight: 700;
}

/* HEADER */

#settings_header {
  z-index: 100;
  top: 57px;
  background-color: #EDEDED;
  min-width: 700px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

  & a {
    width: 100%;
    padding: 20px 30px 20px 30px;
    text-decoration: none;
    color: inherit;
  }

  & ul {
    margin: 0;
    padding: 0;

    & li {
      display: inline-block;
      padding: 20px 0 20px 0;
      font-size: 0.9rem;
      border-right: 1px solid #c1c1c1;
    }

    & li.active {
      background-color: #4A8FE2;
      color: white;
    }
  }
}

.keyboard_shortcuts_section {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */

  & .keyboard_shortcuts_button {
    display: inline-block;
    width: 23%;
    height: auto;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 5px;
    color: black;
    padding: 10px;
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  & .keyboard_shortcuts_button_primary {
    font-weight: bold;
  }
  & .keyboard_shortcuts_button_active {
    background-color: #e5e5e5;
  }
}

.keyboard_shortcuts_menu {
  height: fit-content;
  width: 180px;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 0.9rem;
  box-shadow: 0px 0px 10px 0px #cfcfcf;
  overflow: hidden;
  & button, & a, & span label {
    text-decoration: none;
    color: black;
    padding: 0.7rem;
    text-align: center;
    cursor: pointer;
    height: 2.5rem;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.9rem;
    opacity: 1;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;

    &:hover {
      background-color: #CECECE;
    }

    &:not(:last-child){
      border-bottom: 1px solid #E5E3E3;
    }
  }

  & button[disabled] {
    cursor: not-allowed;
  }

  & span {
    cursor: pointer;
    & input {
      height: 0;
      width: 0;
      position: absolute;
      left: -2000px;
    }

    & input:focus + label {
      @mixin R2_MIXIN_FOCUS_OUTLINE;
    }
  }
}

.keyboard_shortcuts_list {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
  margin-left: 0em !important;
  list-style: none;

  & li {
    margin-bottom: 1.5em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.8em;
    border: 1px solid rgb(159, 159, 159);
    border-radius: 8px;

    & .keyboard_shortcuts_edit_title {
      /* text-decoration: underline; */
      margin-right: 1em;
    }
    & .keyboard_shortcuts_buttons_container {
      display: block;
      width: 100%;
      text-align: right;
      margin-top: -0.1em;
    }

    & .keyboard_shortcuts_edit_save_button {
      width: auto;
      height: auto;
      padding: 0.4em;
      border: 1px solid grey;
      border-radius: 3px;
      margin-right: 0.7em;
      font-size: initial;
    }

    & .keyboard_shortcuts_key,
    & select {
      width: auto;
      height: auto;
      font-size: 80%;
      display: inline;
      padding: 0.3em;
      margin-right: 1em;
      border: 2px solid rgb(171, 171, 171);
      border-bottom: 2px solid rgb(41, 41, 41);
      border-right: 2px solid rgb(41, 41, 41);
      border-radius: 3px;
      background-color: #d0d0d0;
    }
    & .keyboard_shortcuts_separator {
      font-size: 80%;
      margin-right: 1em;
      font-weight: bold;
    }
    & .hiddenInput {
      position: absolute;
      left: -2000px;

      & + label {
        width: auto;
        height: auto;
        font-size: 80%;
        display: inline;
        padding: 0.3em;
        margin-right: 1em;

        border-radius: 3px;
        cursor: pointer;

        background-color: #ffd4d4;

        border: 2px solid rgb(171, 171, 171);
        border-bottom: 2px solid rgb(41, 41, 41);
        border-right: 2px solid rgb(41, 41, 41);
        /* border: 2px solid rgb(41, 41, 41);
        border-bottom: 2px solid rgb(171, 171, 171);
        border-right: 2px solid rgb(171, 171, 171); */
      }

      &:checked + label {
        background-color: #d4ffc6;

        /* border: 2px solid rgb(171, 171, 171);
        border-bottom: 2px solid rgb(41, 41, 41);
        border-right: 2px solid rgb(41, 41, 41); */
      }

      &:focus + label {
        @mixin R2_MIXIN_FOCUS_OUTLINE;
      }
    }

    & select {
      appearance: none;
      cursor: pointer;
      /* width: 100px; */
    }

    & .keyboard_shortcuts_sink {
      border: 1px solid silver;
      margin-right: 1em;
      width: 1em;
    }

    & .keyboard_shortcuts_sink:hover {
      outline: 2px solid blue;
    }

    & .keyboard_shortcuts_sink:focus {
      outline: 4px solid blue !important;
      background-color: rgb(162, 162, 255);
    }
  }

  & li.keyboard_shortcuts_edit_li {
    outline: 2pt dashed rgb(0, 56, 74);
    border: 0;
  }
}

/* LANGUAGES */

.languages_list {
  width: 30%;
  list-style-type: none;
  font-size: 0.8rem;
  min-width: 300px;
  margin-bottom: 20px;

  & label {
    display: inline-flex;
    margin: 0 3px 3px 3px;
    padding: 5px 10px 5px 2rem;
    font-size: 1.25em;
    height: 1.2rem;
    width: 14rem;
    background: #e5e5e5;
    cursor: pointer;

    & svg {
      height: 1rem;
      width: 1rem;
      margin-left: -1.3rem;
      margin-right: 0.3rem;
    }
  }

  & input {
    position: absolute;
    left: -2000px;

    &:focus + label {
      @mixin R2_MIXIN_FOCUS_OUTLINE;
    }
  }
}

/* TAGS */

#draggable_list {
  width: 50%;
  list-style-type: none;
  font-size: 0.8rem;
  min-width: 400px;
  margin-bottom: 20px;

  & .dnd_element {
    cursor: move;
    margin: 0 3px 3px 3px;
    padding: 5px 10px 5px 10px;
    font-size: 1.25em;
    height: 24px;
    background: #e5e5e5;
    display: flex;
    align-items: center;

    & span {
      font-size: 0.8rem;
      color:grey;
      margin-left:8px;
      flex: 1;
    }

    & button {
      background: none;
      border: none;
      cursor: pointer;
    }

    & input {
      font-size: inherit;
    }

    & svg {
      height: 24px;
      width: 24px;
    }
  }


  & .up, ul .down { float: left; }
  & .up:before { content: "\f077"; }
  & .down:before { content: "\f078"; }
}


form#tag_add {
  margin-left:0;
  height:auto;
  margin-bottom:0;
  display: inline-block;
}

input.pref_tag_inputs {
  position: relative;
  width:300px;
  border-radius: 0;
  border:none;
  border-bottom: 1px solid #c1c1c1;
  height:35px;
  /* outline: inherit; */
  background-color: transparent;
  color:black;
  font-size: 0.9rem;
  margin-right:30px;
}

input.pref_tag_inputs::placeholder {
  font-size: 0.9rem;
  font-weight: 300;
  color:#c1c1c1;
}


#tag_add svg{
  position: absolute;
  width:35px;
  left:320px;
  color: #c1c1c1;
  vertical-align: top;
}

#tag_add input[type="submit"]{
  cursor:pointer;
  background-color: white;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 5px 30px 5px 30px;
  border:1px solid #c1c1c1;
}
