.wrapper {
  display: flex;
  align-items: center;

  & > button {
    margin-bottom: 50px;
  }
}

.content {
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 0;

  & > * {
    margin-right: 15px;
  }

  & > *:not(:first-child) {
    margin-left: 15px;
  }
}

.content_wrapper {
  flex: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  height: 340px;
}

.button_substitute {
  height: 36px;
  width: 36px;
}

.back {
  transform: rotateY(180deg);
}

/************  GridTagView  ************/

.badge {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 0.2rem;
  background-color: #6c757d;
  color: white;

  & div {
    text-align: center;
  }
}
