.wrapper {
    display: flex;
    align-items: center;

    & > button {
        margin-bottom: 50px;
    }
}

.content {
    display: inline-flex;

    & > *:not(:first-child) {
        margin: 0 15px;
    }
}

.content_wrapper {
    flex: 1;
    overflow-x: hidden;
    overflow-y:hidden;
}

.button_substitute {
    height: 36px;
    width: 36px;
}



.back {
    transform: rotateY(180deg);
}

/************GridTagView************/

.badge {
    padding-top: 20%;
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    background-color: #6c757d;
    color: white;
    
    & a {
        ;
    }

    & div {
        text-align: center;
    }
}


