.vscode/*
.history/*
.github/*
.git/*
dist/*
docs/*
img/*
node_modules/*
resources/*
external-assets/*
scripts/*
src/typings/*
src/resources/*
src/renderer/assets/*
src/renderer/reader/pdf/*
.flox/*
.zed/*
