src/r2-xxx-js/r2-navigator-js/electron/common/colibrio-cfi/*
.vscode/*
.history/*
.github/*
.github_release/*
.git/*
dist/*
docs/*
img/*
node_modules/*
resources/*
external-assets/*
scripts/*
src/typings/*
src/resources/*
src/renderer/assets/*
src/renderer/reader/pdf/*
.flox/*
.zed/*
webpack.config.*
package.json
src/package.json
package-lock.json
src/*
native-node-addon-windows-registry/*
