/*
=-=-= aboutFooter.scss
*/

// .footer_wrapper{
//     display: flex;
//     justify-content: end;
//     align-items: center;
//     gap: 10px;
//     border-top: 1px solid var(--color-extralight-grey);
//     margin: 0;

//     a {
//         font-style: italic;
//         text-decoration: underline;
//         cursor: pointer;
//     }
// }

.footer_wrapper {
    position: absolute;
    bottom: -10px;
    right: 10px;
    border-top: 1px solid var(--color-extralight-grey);
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    height: 30px;
    width: 100%;
    background-color: var(--color-secondary);

    a {
        font-style: italic;
        text-decoration: underline;
        cursor: pointer;
    }
}