@import "src/renderer/assets/styles/focus";

.annotations_tab {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.annotations_options {
  summary {
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--color-blue);
    font-size: 14px;

    span svg {
      fill: var(--color-blue);
      width: 20px;
      height: 20px;
      margin: 0 0.75em;
      padding-top: 5px;
      padding-bottom: 0;
    }

    svg {
      fill: var(--color-blue);
      width: 14px;
      height: 14px;
      margin-right: 0.5em;
    }
  }
  
  &[open] > summary span svg {
    transform: rotate(180deg);
    padding-bottom: 5px;
    padding-top: 0;
  }

  .annotations_checkbox {
    display: flex;
    align-items: start;
    padding: 5px;
    height: fit-content;
    margin-left: 15px;
    
    label {
        margin: 0;
        height: fit-content!important;
    }
}
}

.annotation_form {
    background-color: var(--color-extralight-grey);
    max-width: 400px;
    border-radius: 6px;
    border: 1px solid var(--color-medium-grey);
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    color: var(--color-primary);
  
    // gap: 10px;
  
    h4 {
      margin: 5px 0;
    }
  
    label {
      margin: 5px;
    }
  
    &_textarea{
      width: 380px;
      min-width: 380px;
      height: 100px;
      min-height: 100px;
      max-width: 380px;
      border: 1px solid rgb(118 118 118);
      border-radius: 3px;
      font-family: Nunito, sans-serif;
      background-color: var(--color-secondary);
      color: var(--color-primary);
  
  
      &_container {
      display: flex;
      flex-direction: column;
      }
  
      &_buttons {
        margin: 5px 0;
        display: flex;
        gap: 5px;
  
        button {
          min-width: unset;
          width: fit-content;
          height: 25px;

          &.button_primary_blue {
            color: var(--color-secondary);

            &:hover {
              color: var(--color-blue);
            }
          }

          svg {
            fill: var(--color-secondary);
            color: var(--color-secondary);
          }

          &:hover svg {
            fill: var(--color-blue);
            color: var(--color-blue);
          }
        }
      }
    }
  }
  
  .annotation_actions {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 10px 0;
  
    &_container {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
  
    >div {
      display: inherit;
  
      >div {
        display: flex;
        // gap: 5px;
        align-items: center;
      }
  
      p {
        margin: 0;
      }
  
      svg {
        width: 20px;
        height: 20px;
      }
    }
  
    &_buttons {
      button:disabled {
        border-radius: 5px;
        background-color: var(--color-verylight-grey-alt);

        svg {
          fill: var(--color-primary);
          color: var(--color-primary);
        }
      }

      svg {
        fill: var(--color-blue);
        color: var(--color-blue);
      }
    }
  }
  
  .annotation_edit_form {
    display: flex;
    flex-direction: column;

    p {
      background-color: var(--color-extralight-grey);
      width: 95%!important;
      border-radius: 5px;
      margin-bottom: 10px!important;
    }
  
    &_textarea{
      min-width: 95%;
      max-width: 95%;
      min-height: 30px;
      border: 1px solid var(--color-primary);
      border-radius: 3px;
      font-family: Nunito, sans-serif;
      overflow: hidden;
      color: var(--color-primary);
      background-color: var(--color-secondary);
  
      &_container {
      display: flex;
      flex-direction: column;
      }
  
      &_buttons {
        margin: 5px 0;
        display: flex;
        gap: 5px;
      }
    }
  }
  
  .colorPicker {
    display: flex;
    background-color: var(--color-secondary);
    padding: 2px;
    gap: 1px;
    border: 1px solid var(--color-primary);
    border-radius: 6px;

    &:has(input:focus) {
      @include R2_MIXIN_FOCUS_OUTLINE;
    }
  
    div {
        input {
            position: absolute;
            z-index: -1;
        }
  
        label {
            z-index: 20;
            width: 25px;
            height: 25px;
            margin: 0;
            border: 1px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    svg {
      color: #4d4d4d;
    }
  }
  
  .stylePicker {
  display: flex;
  padding: 2px;
  gap: 10px;
  border-radius: 5px;

  &:has(input:focus) {
    @include R2_MIXIN_FOCUS_OUTLINE;
  }
  
  div {
      input {
          position: absolute;
          z-index: -1;
      }
  
      label {
          z-index: 20;
          width: 27px;
          height: 27px;
          margin: 0;
          background-color: inherit;
          cursor: pointer;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            color: var(--color-blue);
          }
      }
  }
  }
  
  .drawType_active {
    background-color: var(--color-blue)!important;

    svg {
      color: var(--color-secondary)!important;
      fill: var(--color-secondary)!important;
    }
  }
  
  .annotations_line {
    width: calc(100% - 10px);
    position: relative;
    text-align: left;
    font-size: 1rem;
    border-left: 2px solid var(--color-blue);
    padding-left: 10px;
    margin: 10px 0;
    background-color: var(--color-annotations-bg);
  
    p {
      text-align: left;

      // overflow: hidden;
      // text-overflow: ellipsis;
      width: calc(100% - 15px);

      // display: -webkit-box;
      // -webkit-box-orient: vertical;
      // -webkit-line-clamp: 3;
      padding: 5px;
      margin: 5px 0;
    }
  
    // @media (prefers-color-scheme: dark) {
    //   background-color: #2D2D2D;
    // }

    .annnotation_container {
      margin-top: 10px;
      margin-right: 10px;
      
    }

    .annnotation_container:has(.annotation_name:focus) {
      outline: 2px solid var(--color-blue);
      border-radius: 5px;
    }
  
    .annotation_name {
      background-color: var(--color-annotations-txt);
      border-bottom: 8px solid var(--color-annotations-txt);
      height: unset;
      font-family: Nunito, sans-serif;
  
      p {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        margin: 0;
        padding: 8px;
        padding-bottom: 0;
      }

      // &:focus {
      //   outline: 2px solid var(--color-blue);
      // }
    }
  
    .update_form input {
      width: 100%;
      border-radius: 6px;
    }
  
    & > button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
  
      & svg {
        width: 24px;
      }
    }
  
    & img {
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: top;
    }
  
    // & .chapter_marker {
    //   vertical-align: top;
    //   position: relative;
    //   display: inline-block;
    //   flex: 1;
    //   font-size: 0.9rem;
    //   margin-right: 0.5rem;
    // }
  
    & span {
      display: inline-block;
      vertical-align: top;
      margin-top: 5px;
    }
  
    .annotation_edit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 5px;
    
      >div {
        display: inherit;
        align-items: center;
        gap: 5px;

        button {
          padding: 5px;
        }
    
        >div {
          display: flex;
          gap: 5px;
          align-items: center;
        }
    
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

.docked_annotation_line {
  border-left: 2px solid var(--color-blue);
  padding: 0 10px;
  margin-top: 5px;
}