/*
=-=-= components/breadcrumb.css => '../partials/variables.css'
*/

/*
@import url('../partials/variables.css');
*/

/*
=-=-= components/breadcrumb.css
*/

.breadcrumb {
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: bold;

  /* color: rgb(59, 59, 59); */
  color: var(--color-button-primary);

  /* position: fixed;
  top: 123px; */
  width: calc(100% - 120px);
  border-bottom: 1px solid var(--color-light-grey);

  & .button_transparency_icon {
    position: relative;
    height: 38px;
    width: 42px;
    margin-right: 10px;

    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 24px;
      width: 24px;
    }
  }

  & .button_transparency {
    font-weight: 500;
    text-decoration: underline;
    font-size: inherit;
    white-space: nowrap;
    padding-right: 5px;
    
    & svg {
      margin: 0 0 0 5px;
      color: var(--color-button-primary);
    }

    & + .button_transparency {
      margin-left: -10px;
    }
  }
}

.___DEBUG___COMPONENTS_BREADCRUMB_CSS {
  display: none;
}
