/* All Buttons Styles */

/*

  1. button

  2. .button_primary
     .button_primary_small

  3. .button_secondary

  4. .button_tertiary

  5. .button_transparency
     .button_transparncy_icon

  6. .button_keyboard

*/

/* button */

button,
.button_primary,
.button_primary_small {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

button {
  padding: 0;
  background: none;
  border: 0;
  height: 30px;
  width: 30px;
  fill: black;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.commonButton {
  background-color: transparent;
  border: 0;
  height: 2.3rem;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 6px 10px;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/* 

  2. .button_primary
     .button_primary_small
     .button_primary_icon

*/

.button_primary {
  @mixin button_primary;

  font: 1rem Arial, sans-serif;
  padding: 10px 15px;

  & svg {
    vertical-align: -2px;
    width: auto;
    height: 14px;
    margin-right: 8px;
    transition: all 0.2s;
  }
}

.button_primary_small {
  @mixin button_primary;

  font: 14px Arial, sans-serif;
  padding: 8px 15px;

  &.button_icon {
    height: 16px;
    padding: 8px 20px;

    & input {
      width: 1px;
      height: 1px;
      overflow: hidden;
      z-index: -1;
      position: absolute;
    }

    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 18px;
      margin: 0;
      vertical-align: 0;
    }
  }
}

.button_primary_icon {
  @mixin button_primary;

  padding: 10px 15px;
  width: 18px;
  height: 18px;
}

/* 4. .button_secondary */

.button_secondary {
  font: 1rem Arial, sans-serif;
  padding: 10px 15px;

  position: relative;
  display: inline;
  background-color: var(--color-accent);
  border: none;
  border-radius: 5px;
  text-align: center;
  color: var(--color-accent-contrast);
  fill: var(--color-accent-contrast);
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  width: auto;
  height: auto;
  transition: all 0.2s;

  & svg {
    vertical-align: -2px;
    fill: var(--color-accent-contrast);
    width: auto;
    height: 14px;
    margin-right: 8px;
    transition: all 0.2s;
  }
  &[disabled],
  &.disabled {
    color: #fff;
    background-color: var(--color-disabled);
  }
}

/* 

  5. .button_transparncy
     .button_transparency_icon
     .button_primary_icon

*/

.button_transparency,
.button_transparency_icon {
  display: inline-block;
  color: #000;
  transition: all .2s;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
  font-weight: 600;
  font: 1rem Arial, sans-serif;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.button_transparency {
  padding: 10px 15px;
  width: auto;
  height: auto;

  &.button_refresh:hover svg {
    transform: rotate(90deg);
  }
}

.button_transparency_icon {
  height: 34px;
  width: 34px;

  & svg {
    height: 34px;
    width: 34px;
    transition: all 0.2s 0.05s;
  }
}

/* 

  6. .button_keyboard

*/

.button_keyboard {
  width: auto;
  height: auto;
  font-size: 80%;
  display: inline-block;
  padding: 0.3em;
  margin-right: 1em;
  border: 2px solid rgb(171, 171, 171);
  border-bottom: 2px solid rgb(41, 41, 41);
  border-right: 2px solid rgb(41, 41, 41);
  border-radius: 3px;
  background-color: #d0d0d0;
}

.skip_link {
  position: absolute;
  left: -2000px;

  &:focus {
    left: unset;
    left: 0;
    width: fit-content;
    top: 0;
    opacity: 1;
    height: unset;
    z-index: 150;
    font-size: 1rem;
    padding: 1rem;
    color: white;
    background-color: #0366d6;
  }
}
