/*
=-=-= components/columns.css
*/

/*

	1. .row

	2. .col_x

*/

/* 1. .row */
.row {
  /* margin-left: -15px; */
  margin-right: -15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* 2. .col_x */

.col_book_img,
.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
.col_9,
.col_10,
.col_11,
.col_12,
.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col_book_img {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 0.5;
  width: 25%;
  max-width: 280px;
  text-align: center;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;

  .card_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
  }
}

.col_1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col_2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col_3,
.col_filter {
  flex: 0 0 25%;
  max-width: 25%;
}

.col_4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col_5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col_6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col_7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col_8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col_9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col_10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col_11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col_12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.___DEBUG___COMPONENTS_COLUMNS_CSS {
  display: none;
}
