.react-aria-ComboBox {
  color: var(--text-color);
  padding-bottom: 15px;
  border-bottom: 3px solid var(--color-light-grey);
  margin: 10px 0 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .my-combobox-container {
    border: 1px solid var(--color-primary);
    border-radius: 6px;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0 10px;
    svg {
      width: 20px;
      
    }
  }

  .react-aria-Label {
    font-weight: 600;
  }

  .react-aria-Input {
    margin: 0;
    font-size: 1.072rem;
    background: var(--color-secondary);
    color: var(--field-text-color);

    padding: 0.286rem 2rem 0.286rem 0.571rem;
    vertical-align: middle;

    &[data-focused] {
      outline: none;
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -1px;
    }
  }

  .react-aria-Button {
    display: inline-block;
    background: var(--color-secondary);
    color: var(--highlight-foreground);
    forced-color-adjust: none;
    border-radius: 4px;
    border: none;
    margin-left: -1.714rem;
    width: 1.429rem;
    height: 1.429rem;
    padding: 0;
    font-size: 0.857rem;
    cursor: pointer;
    position: relative;

    &[data-pressed] {
      box-shadow: none;
      background: var(--color-secondary);
    }
  }
}

.react-aria-Popover[data-trigger=ComboBox] {
  width: var(--trigger-width);
  background-color: var(--color-secondary);
  pointer-events: auto;
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  height: fit-content;
  max-height: 350px!important;
  overflow: auto;

  .react-aria-ListBox {
    display: block;
    width: unset;
    max-height: inherit;
    min-height: unset;
    border: none;

    .react-aria-Header {
      padding-left: 1.571rem;
    }
  }

  .react-aria-ListBoxItem {
    padding: 0.286rem 0.571rem 0.286rem 1.571rem;

    &[data-focus-visible] {
      outline: none;
    }

    &[data-selected] {
      font-weight: 600;
      background: unset;
      color: var(--text-color);

      &::before {
        content: '✓';
        content: '✓' / '';
        alt: ' ';
        position: absolute;
        top: 4px;
        left: 4px;
      }
    }

    &[data-focused],
    &[data-pressed] {
      background: var(--color-secondary);
      color: var(--highlight-foreground);
    }
  }
}
.my-item {
    margin: 2px;
    padding: 4px 8px 4px 22px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    font-size: 1.072rem;
    position: relative;
  
    &.selected {
      font-weight: 600;
      background: none;
  
      &::before {
        content: '✓';
        content: '✓' / '';
        alt: ' ';
        position: absolute;
        top: 4px;
        left: 4px;
      }
    }
  
    &.focused {
      background: #e70073;
      color: white;
    }
  }
  
  @media (forced-colors: active) {
    .my-item.focused {
      background: Highlight;
      color: HighlightText;
    }
  }