/*
=-=-= components/publications.css
*/

/*

	1. card

	2. list

*/

/* 1. card */

.publication_wrapper {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid transparent;
  transition: 200ms linear;
  border-radius: 4px;

  &:hover {
    border: 2px solid var(--color-button-primary);
    background-color: var(--color-button-secondary);
  }
}

.publication_image_wrapper {
  width: 100%;
  position: relative;
  display: block;
  padding-top: 150%;

  & img {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    max-width: calc(100% - 4px);
    max-height: calc(100% - 4px);
    object-fit: contain;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    background-color: #f1f1f1;
  }
}

.no_img_wrapper {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  text-align: center;
  box-sizing: border-box;
  padding: 5%;
  border: 1px solid silver;
  border-radius: 6px;
  position: absolute;
  top: 2px;
  left: 2px;

  & .no_img {
    border: 1px black solid;
    width: 100%;
    height: 100%;
    line-height: inital;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p {
      word-break: break-all;
      display: -webkit-inline-box;
      -webkit-line-clamp: 3;

      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: center;
      margin: 10px 5%;
      color: var(--color-primary);
      ;

      &:not(:first-child) {
        font-size: 90%;
      }
    }
  }
}

.publication_infos_wrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 15px;
  gap: 10px;

  & button {
    width: 20px;
  }

  & .publication_title_wrapper {
    flex: 1;
    overflow: hidden;
    min-height: 30px;
    width: 100%;

    & p {
      margin: 0;
    }

    & .publication_title {
      font-weight: 600;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 1.2em;
    }

    & .publication_authors {
      font-weight: 300;
      overflow-wrap: break-word;
      line-height: 1.2em;
      max-height: 2.4em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-clamp: 2;
    }
  }

  & .publication_infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & span {
      height: 20px;
      padding: 0 2px;
      width: fit-content;
      min-width: 30px;
      font-size: 10px;
    }

    & svg {
      fill: var(--color-button-primary);
      border-radius: 4px;
      transition: 200ms linear;

      &:hover {
        scale: 1.3;
      }
    }
  }
}

/* 2. list */

.publication_list_wrapper {
  display: flex;
  margin-left: 0;
  height: 40px;
  padding: 10px 20px;
  font-size: 0.8rem;
  align-items: center;

  &:nth-child(odd) {
    background-color: #f3f3f3;
  }
}

.publication_list_infos {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2rem;
  font-size: 0.8rem;
  margin-left: 10px;

  & * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  & p {
    margin: 0;
  }

  & .publication_list_title_authors {
    margin-right: 20px;
    width: 50%;
    max-width: 300px;
  }

  & div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    & p {
      width: 100px;
      margin: 0 5px;
    }
  }
}

.block_book_list {
  display: block;
  width: calc(100% + 120px);
  margin-left: -60px;
  height: 40px;
  padding: 10px 50px 10px 50px;
  min-width: 600px;
  font-size: 0.8rem;
}

.block_book_list button {
  float: left;
}

.block_book_list:nth-child(odd) {
  background-color: #f3f3f3;
}

.block_book_list .icon_seemore {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 30px;
  margin: -5px 10px 0 10px;
  top: 2px !important;
}

.block_book_list p.book_title {
  display: inline-block;
  font-weight: 600;
}

.block_book_list p.book_author {
  display: inline-block;
}

.block_book_list p.infos_sup {
  display: inline-block;
  width: 15%;
  color: grey;
}

.block_book {
  width: 175px;

  & .image_wrapper {
    width: 100%;
    position: relative;

    & > a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      cursor: pointer;

      & img {
        max-height: 100%;
        max-width: 100%;
        display: block;
      }
    }
  }

  & .image_wrapper::before {
    content: "";
    display: block;
    padding-top: 150%; 	/* initial ratio of 1:1 */
  }

  & button {
    cursor: pointer;
    z-index: 100;
    background: none;
    border: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    margin-right: -8px;

    & svg {
      fill: rgb(107, 107, 107);
    }
  }
}

.legend {
  width: 100%;
  position: relative;
  cursor: pointer;

  & p {
    position: relative;
    width: calc(100% - 24px);
    font-size: 0.9rem;
    overflow: hidden;
    margin: 0;

    &.book_title {
      margin-top: 10px;
      font-weight: 600;
      overflow-wrap: break-word;
      line-height: 1.2em;
      max-height: 2.4em;
      overflow: hidden;

      /*
            multiline ellipsis!
            white-space: nowrap;
            text-overflow: ellipsis;
            */
      padding-right: 1em;
    }

    &.book_title::before {
      content: '…';
      position: absolute;
      opacity: 0.5;
      bottom: 0;
      inset-block-end: 0; /* "bottom" */
      right: 0;
      inset-inline-end: 0; /* "right" */
    }

    &.book_title::after {
      content: '';
      position: absolute;
      background: white;
      opacity: 1;
      width: 1em;
      height: 1em;
      right: 0;
      inset-inline-end: 0; /* "right" */
    }

    &.book_author {
      font-weight: 300;
      color: #616161;
      overflow-wrap: break-word;
      line-height: 1.2em;
      max-height: 2.4em;
      overflow: hidden;

      /*
            multiline ellipsis!
            white-space: nowrap;
            text-overflow: ellipsis;
            */
      padding-right: 1em;
    }

    &.book_author::before {
      content: '…';
      position: absolute;
      opacity: 0.5;
      bottom: 0;
      inset-block-end: 0; /* "bottom" */
      right: 0;
      inset-inline-end: 0; /* "right" */
    }

    &.book_author::after {
      content: '';
      position: absolute;
      background: white;
      opacity: 1;
      width: 1em;
      height: 1em;
      right: 0;
      inset-inline-end: 0; /* "right" */
    }
  }
}

.menu {
  height: fit-content;
  width: 180px;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 0.9rem;
  box-shadow: 0 0 10px 0 #cfcfcf;
  overflow: hidden;

  & button,
  & a,
  & span label {
    text-decoration: none;
    color: var(--color-primary);
    ;
    padding: 0.7rem;
    text-align: center;
    cursor: pointer;
    height: 2.5rem;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.9rem;
    opacity: 1;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;

    &:hover {
      background-color: #cecece;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #e5e3e3;
    }
  }

  & button[disabled] {
    cursor: not-allowed;
  }

  & span {
    cursor: pointer;

    & input {
      height: 0;
      width: 0;
      position: absolute;
      left: -2000px;
    }
  }
}

.cover {
  height: 100%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 5%;
  border: 1px solid silver;
  border-radius: 6px;

  & p {
    word-break: break-all;
    display: -webkit-inline-box;
    -webkit-line-clamp: 3;

    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    margin: 10px 5%;
    color: var(--color-primary);
  }

  & .box {
    border: 1px black solid;
    width: 100%;
    height: 100%;
    line-height: inital;
  }

  & .title {
    margin-top: 10%;
  }

  & .author {
    font-size: 90%;
    bottom: 10px;
  }
}

.cover_img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  background-color: #f1f1f1;
}

.___DEBUG___COMPONENTS_PUBLICATIONS_CSS {
  display: none;
}
