/*
=-=-= readerHeader.scss
*/

.toolbar_navigation {
    height: 50px;
    width: 100%;
    padding: 0;
    background-color: var(--color-extralight-grey);
    border-bottom: 2px solid var(--color-medium-grey);
    box-sizing: border-box;

    &.ttsAudioActivated .tts_toolbar::before {
            content: "";
            position: absolute;
            left: calc(50% - 105px);
            top: 42px;
            height: 1px;
            width: 210px;  /* or 100px */
            border-bottom: 2px solid var(--color-blue);
    }

    > ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: inherit;
        margin: 0;
        list-style-type: none;
        padding: 0 20px;

        .tts_toolbar {
            justify-content: center;
            position: relative;
        }

        .menu_option {
            justify-content: end;
            gap: 10px;
        }

        .pdf_options {
            max-width: 100px;
        }

        li {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;

            .menu_button {
                height: 30px;
                cursor: pointer;
                padding: 5px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
    
                svg {
                    height: 20px;
                    width: 30px;
                    fill: var(--color-blue);
                    color: var(--color-blue);

                    @media (prefers-color-scheme: dark) {
                        fill: #FEFEFE;
                        color: #FEFEFE;
                    }
                }
            }

            input {
                position: relative;
                opacity: 0;
            }

            label {
                position: absolute;
                display: block;
                width: 35px!important;
                align-items: center;


                svg {
                    width: inherit;
                    height: inherit;
                    fill: var(--color-blue);
                }
            }
        }

        > ul {
            display: flex;
            padding: 0;
            flex: 1;
        }
    }
}

.active_svg {
    fill: white!important;
    color: white!important;

    @media (prefers-color-scheme: dark) {
        fill: black!important;
        color: black!important;
    }
}

.picker_container {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100vw;
    height: 48px;
    background-color: var(--color-extralight-grey);
    margin-right: 5px;
    z-index: 100;
    top: 65px;
    right: 10px;
    left: unset;
    border-radius: 6px;
    border: 1px solid var(--color-medium-grey);

    button[title="Close"] {
        width: 15px;
        height: 15px;
        padding: 4px;
        margin: 0;

        svg {
            height: 15px;
        }
    }

    .form_group {
        width: 200px!important;
        height: 24px!important;

        label {
        top: -18px;
        background-color: var(--color-extralight-grey);
        }

        button {
            svg {
                fill: var(--color-blue);
            }
        }
    }
}

.button {
    &_close {
        width: 20px;
        height: 20px;
    }

    &_arrow {
        fill: var(--color-extralight-grey);
        width: 15px;
        height: 10px;
    }
}

.Tts_popover_container {
    display: flex;
    align-items: center;
    height: 75px;
    background-color: var(--color-extralight-grey);
    box-shadow: 0 6px 10px 0 var(--color-medium-grey);
    border-radius: 6px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid var(--color-medium-grey);

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        border-right: 1px solid var(--color-medium-grey);
        height: 50px;
        padding: 0 20px;

        select {
            width: fit-content;
            height: 30px;
            border-radius: 6px;
            padding: 0 10px;
        }
    }
}

.popover_arrow {
    border-top: 2px solid var(--color-extralight-grey);
    fill: var(--color-extralight-grey);
    width: 15px;
    height: 10px;
}

.bookmarkButton:focus + label {
    outline: blue solid 2px !important;
    outline-offset: -2px;

}

#bookmarkLabel .bookmarkRemove{
    display: none;
    height: 24px;
}

#bookmarkLabel .bookmarkIcon{
    display: block;
}

#bookmarkLabel:hover .bookmarkRemove{
    display: none;
}

#bookmarkLabel:hover .bookmarkIcon{
    display: block;
}

#bookmarkLabel:hover .active_svg.bookmarkRemove {
    display: block;
}

#bookmarkLabel:hover .bookmarkIcon.active_svg  {
    display: none;
}

.annotationsIcon svg {
    width: 22px!important;
    height: 25px!important;
}

.colorPicker {
    display: flex;

    div {
        input {
            position: absolute;
            z-index: -1;
        }

        label {
            z-index: 20;
            width: 20px;
            height: 20px;
            margin: 0;
            border: 1px solid white;
        }
    }
}