.settings_container {
    display: flex;
}

.settings_tabslist {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    border-right: 2px solid var(--color-medium-grey);
    padding-top: 40px;
    height: 570px;
}

.settings_tabslist button {
    height: 50px;
    transition: 200ms;
    width: 100%;
};

.settings_tabslist button:first-child{ 
    border-top-left-radius: 6 
};

.settings_tabslist button:last-child{ 
    border-top-right-radius: 6 
};

.settings_tabslist button:hover {
    background-color: var(--color-medium-grey);
}

.settings_tabslist button[data-state="active"]{ 
    color: var(--color-primary);
    background-color: var(--color-light-grey);
    font-size: 16px;
    font-weight: bold;
};

.settings_tabslist button:focus {
   position: relative;
   box-shadow: 0 0 0 2px black;
}

.settings_tab_container {
    margin: 35px;
}

.select_language_trigger {
    box-shadow: 2px 2px 5px 3px var(--color-medium-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 25px 0 10px;
    border: 1px solid var(--color-medium-grey);
    border-radius: 10px;
    height: 40px;
    min-width: 200px;
}

.select_language_icon {
    width: 24px;
    height: 24px;
}

.select_language_item {
    font-size: 13;
    line-height: 2;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25;
    padding: 0 35px 0 25px;
    position: relative;
    border-bottom: 1px solid var(--color-medium-grey);
}

.select_language_item:hover {
    cursor: pointer;
    background-color: var(--color-medium-grey);
}

.select_language_content {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    z-index:200;
    border: 1px solid var(--color-medium-grey);
    position: absolute;
    left: 0;
    width: 250px;
}
