/*
=-=-= slider.scss
*/

.slider {
  display: block;
  position: relative;

  &_wrapper {
    position: relative;
    overflow: hidden hidden;
    height: 400px;
  }

  &_items {
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
  
    & > *:not(:first-child) {
      margin-left: 15px;
    }
  }

  > button {
    display: flex;
  }
  
  button:disabled {
    svg {
      fill: var(--color-disabled);
    }
  }
}

.slider_button {
  &_prev {
  right: 30px;
  transform: translateY(-50%) rotateY(180deg);
  svg {
    margin: auto;
  }
  }

  &_next {
    right: 0;
    transform: translateY(-50%);
  }

  &_prev,
  &_next {
    position: absolute;
    top: -30px;
  }
}


.continue_reading {
  border: 1px solid var(--color-medium-grey);
  background-color: var(--color-extralight-grey);
  border-radius: 6px;
  margin: 20px 0;
  padding: 20px;

  .cover_img {
    background-color: var(--color-secondary);
  }
}

.home_section {
  border: 1px solid transparent;
  margin: 20px;
}

.___DEBUG___COMPONENTS_SLIDER_CSS {
  display: none;
}
