/*
=-=-= components/slider.css
*/

.slider {
  display: block;
  position: relative;

  &_wrapper {
    position: relative;
    overflow: hidden hidden;
    height: 400px;
  }

  &_items {
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
  
    & > *:not(:first-child) {
      margin-left: 15px;
    }
  }
}

.slider_button {
  &_prev {
  left: -50px;
  transform: translateY(-50%) rotateY(180deg);
  }

  &_next {
    right: -50px;
    transform: translateY(-50%);
  }

  &_prev,
  &_next {
    position: absolute;
    top: 40%;
  }
}


.continue_reading {
  border: 1px solid var(--color-medium-grey);
  background-color: var(--color-extralight-grey);
  border-radius: 6px;
  padding: 20px;

  .cover_img {
    background-color: var(--color-secondary);
  }
}

.home_section {
  border: 1px solid transparent;
  padding: 20px;
}

.___DEBUG___COMPONENTS_SLIDER_CSS {
  display: none;
}
