/* All Slider Styles */

.slider {
  display: block;
  width: 100%;
  position: relative;
}

.slider_wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 340px;
}

.slider_items {
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 0;

  & > *:not(:first-child) {
    margin-left: 15px;
  }
}

.slider_button_prev,
.slider_button_next {
  position: absolute;
  top: 40%;
}

.slider_button_prev {
  left: -50px;
  transform: translateY(-50%) rotateY(180deg);
}

.slider_button_next {
  right: -50px;
  transform: translateY(-50%);
}
