/*
=-=-= components/tags.css => '../partials/variables.css'
*/

/*
@import '../partials/variables.css';
*/

/*
=-=-= components/tags.css
*/

.tags_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  align-items: center;
  background-color: #e7f1fb;
  padding: 2px 6px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid var(--color-tertiary);
  color: var(--color-tertiary);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
  margin-right: 10px;
  margin-bottom: 10px;

  &:hover {
    background-color: #d0e2f5;
  }

  &.no_hover:hover {
    background-color: #e7f1fb;
    cursor: default;
  }

  & button {
    width: 21px;
    height: 21px;
    margin: 0 0 0 5px;
  }
}

.tag_inputs {
  position: relative;
  max-width: 300px;
  flex: 1;
  border-radius: 0;
  border: none;
  height: 35px;
  background-color: transparent;
  color: black;
  font-size: 0.9rem;
  border-bottom: 1px solid #c1c1c1;

  &::placeholder {
    font-size: 0.9rem;
    font-weight: 300;
    color: #c1c1c1;
  }
}

.___DEBUG___COMPONENTS_TAGS_CSS {
  display: none;
}
