@import '../partials/variables.css';

/*
-=-=
components/toasts.css
-=-=
*/

.toasts_wrapper {
  position: fixed;
  top: 10rem;
  right: 0;
  z-index: 10000;
}

.toast {
  margin-bottom: 1rem;
  position: relative;
  padding: 1rem;
  border: 1px grey solid;
  border-right: none;
  width: 20rem;
  height: 4.125rem;
  background: white;
  display: flex;
  align-items: center;
  animation-name: start;
  animation-duration: 0.5s;

  &.error {
    background: #fedbd8;
  }

  &.success {
    background: #f0fed8;
  }

  & p {
    margin: 0;
    flex: 1;
  }

  & .icon {
    height: 3rem;
    margin-right: 1rem;
  }

  & .closeButton {
    position: absolute;
    right: 0;
    top: 0;
    height: 1.3rem;
    width: 1.3rem;
    padding: 0;
    margin: 3px;

    & svg {
      height: 100%;
      width: 100%;
    }
  }
}

.leave {
  transform: translateX(100%);
  transition: transform 0.5s;
}

.toRemove {
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  transition: height 0.1s, padding 0.1s, margin 0.1s;
}

@keyframes start {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
