<!DOCTYPE html>
<html id="pdf_html" style="overflow: hidden;">
<style>

  body {
    background-color: white;
  }

  #annotation-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    line-height: 1.0;
  }

  #annotation-layer > span,
  #annotation-layer > *:not(.linkAnnotation) {
    opacity: 0.2;
  }

  #annotation-layer>section {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
  }

  #annotation-layer>.linkAnnotation>a {
    position: absolute;
    font-size: 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* #text-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1;
  } */

  #annotation-layer>span {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
  }

/* #annotation-layer ::selection {
  background: blue;
}

::selection {
  background: rgba(50, 50, 145, 30);
} */

:root[style] ::selection,
:root ::selection {
background: rgb(155, 179, 240) !important;
/* color: black !important; */
color: transparent !important;
}
/* 
:root[style*="readium-night-on"] ::selection {
background: rgb(100, 122, 177) !important;
color: white !important;
} */

:root[style] *:focus,
:root *:focus {
    outline: none;
}
:root[style].ROOT_CLASS_KEYBOARD_INTERACT *.CSS_CLASS_NO_FOCUS_OUTLINE:focus:not(:target):not(.LINK_TARGET_CLASS),
:root.ROOT_CLASS_KEYBOARD_INTERACT *.CSS_CLASS_NO_FOCUS_OUTLINE:focus:not(:target):not(.LINK_TARGET_CLASS) {
    outline: none !important;
}
:root[style].ROOT_CLASS_KEYBOARD_INTERACT *:focus:not(:target):not(.LINK_TARGET_CLASS),
:root.ROOT_CLASS_KEYBOARD_INTERACT *:focus:not(:target):not(.LINK_TARGET_CLASS) {
    outline-color: blue !important;
    outline-style: solid !important;
    outline-width: 2px !important;
    outline-offset: 2px !important;

    opacity: 1 !important;
}
/*
@keyframes readium2ElectronAnimation_FOCUS {
    0% {
    }
    100% {
        outline: inherit;
    }
}
:root[style]:not(.ROOT_CLASS_KEYBOARD_INTERACT) *:focus,
:root:not(.ROOT_CLASS_KEYBOARD_INTERACT) *:focus {
    animation-name: readium2ElectronAnimation_FOCUS;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
*/
</style>

<head>
  <meta charset="UTF-8" />
</head>

<body id="body_element"
  style="overflow: hidden; margin: 0; padding: 0; position: absolute; display: block; box-sizing: border-box; left: 0; right: 0; top: 0; bottom: 0;">
</body>

</html>
