/*
=-=-= partials/variables.css
*/

@media (prefers-color-scheme: light) {
  :root {
    /* Colors */
    --color-primary: #4d4d4d;
    --color-secondary: #fff;
    --color-tertiary: #67a3e0;
    --color-disabled: #b7b7b7;
    --color-light-grey: #f1f1f1;
    --color-medium-grey: #e5e5e5;
    --color-accent: rgb(0, 188, 212);
    --color-accent-contrast: #fff;
    --reader-fontColor: #000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --color-primary: #fff;
    --color-secondary: #4d4d4d;
    --color-tertiary: #67a3e0;
    --color-disabled: #b7b7b7;
    --color-light-grey: #f1f1f1;
    --color-medium-grey: #e5e5e5;
    --color-accent: rgb(0, 188, 212);
    --color-accent-contrast: #fff;
    --reader-fontColor: #fff;
  }
}

.___DEBUG___PARTIALS_VARIABLES_CSS {
  display: none;
}
