:root {
  /* Colors */
  --color-primary: #4d4d4d;
  --color-secondary: #fff;

  --color-disabled: #767676;
  --color-light-grey: #f1f1f1;
  --color-medium-grey: #e5e5e5;

  --color-accent: rgb(0, 188, 212);
}
