/*
=-=-= partials/variables.css
=-=-= globally imported by sass-loader with : { additionalData: `@import "./src/renderer/assets/styles/partials/variables.scss";` }
*/

@use "sass:map";

$color-palette: (
  light: (
    --color-primary: #4d4d4d,
    --color-secondary: #fff,
    --color-tertiary: #67a3e0,
    --color-disabled: #040303,
    --color-light-grey: #f1f1f1,
    --color-medium-grey: #e5e5e5,
    --color-accent: rgb(0, 188, 212),
    --color-accent-contrast: #fff,
    --reader-fontColor: #000,
    --color-button-primary: rgba(16, 83, 200, 1),
    --color-button-secondary: #ECF2FD,
    --color-bg-tab: rgba(246, 246, 246, 0.84),
    --setting-btn-primary: #3a00e5,
    --setting-btn-secondary: #f7f5ff,
  ),
  dark: (
    --color-primary: #4d4d4d,
    --color-secondary: #fff,
    --color-tertiary: #67a3e0,
    --color-disabled: #040303,
    --color-light-grey: #f1f1f1,
    --color-medium-grey: #e5e5e5,
    --color-accent: rgb(0, 188, 212),
    --color-accent-contrast: #fff,
    --reader-fontColor: #000,
    --color-button-primary: rgba(16, 83, 200, 1),
    --color-button-secondary: rgba(16, 83, 200, 0.05),
    --color-bg-tab: rgba(246, 246, 246, 0.84),
    --setting-btn-primary: #3a00e5,
    --setting-btn-secondary: #f7f5ff,
  
  // disable in develop branch, TODO improve darkmode color
  //   --color-primary: #fff,
  //   --color-secondary: #4d4d4d,
  //   --color-tertiary: #67a3e0,
  //   --color-disabled: #b7b7b7,
  //   --color-light-grey: #f1f1f1,
  //   --color-medium-grey: #e5e5e5,
  //   --color-accent: rgb(0, 188, 212),
  //   --color-accent-contrast: #fff,
  //   --reader-fontColor: #fff,
  //   --color-button-primary: rgba(16, 83, 200, 1),
  //   --color-button-secondary: rgba(16, 83, 200, 0.05),
  //   --color-bg-tab: rgba(16, 18, 22, 0.6),
  //   --setting-btn-primary: #fff,
  //   --setting-btn-secondary: var(--color-secondary),

  ),
);

@function color($color, $value) {
  @return map-get(map-get($color-palette, $color), $value);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Colors */
    @each $key, $value in map-get($color-palette, light) {
      #{$key}: color(light, #{$key});
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    @each $key, $value in map-get($color-palette, dark) {
      #{$key}: color(dark, #{$key});
    }
  }
}

[data-theme="light"] {

  /* Colors */
  @each $key, $value in map-get($color-palette, light) {
    #{$key}: color(light, #{$key});
  }
}

[data-theme="dark"] {

  /* Colors */
  @each $key, $value in map-get($color-palette, dark) {
    #{$key}: color(dark, #{$key});
  }
}

.___DEBUG___PARTIALS_VARIABLES_CSS {
  display: none;
}
