@use "./variable" as c;
@use "./screenSizes" as s;

#settings-container {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    .settings {
        &_language-section {
            flex: 1;
            margin-bottom: 0px;
            .radio_list {
                text-align: center;
                transition: linear 200ms;
                label:hover {
                background-color: lighten(c.$color-primary, 10%);
                color: white;
                }
                @media only screen and (min-width: s.$large) {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    label {
                        width: 200px;
                        height: 60px;
                        gap: 10px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0;
                        margin: 10px;
                    }
                }
            }
        }
        &-container_right {
            flex: 1;
        }
    }
    .heading {
        justify-content: center;
        h2 {
            color: c.$color-primary;
            text-align: center;
        }
}
@media only screen and (min-width: s.$large) {
    display: block;
}
} 