<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Thorium</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body id="body_element">
    <div id="app"></div>
    <div id="app-overlay"></div>
  </body>
</html>
