.root {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  overflow: hidden;
}
.side_button {
  z-index: 3;
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  width: 40px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  outline: none;
  color: rgb(0, 0, 0, 0);
  fill: rgb(0, 0, 0, 0);

  &:hover {
    background-color: rgb(130, 130, 130, 0.3);
    color: black;
    fill: black;
  }
}

.side_button_svg {
  width: 30px;
  margin: auto;
}

.left_button {
  left: 0px;
}

.right_button {
  right: 0px;
}

.reader {
  display: inline-block;
  overflow: auto;
  position: relative;
  height: calc(100% - 51px);
  width: 100%;
}

.menu {
  display: flex;
  flex-directon: row;
  background-color: #4d4d4d;
  color: white;
  padding: 0.5rem;
}

.menu_button {
  background-color: rgb(0, 0, 0, 0);
  border: none;
  color: white;
}

.menu_input {

}

.menu_svg {
  height: 30px;
  width: 30px;
  fill: white;
}

.menu_select {
  background-color: #4d4d4d;
  color: white;
}
